.navbar {
    box-shadow: 0 1px 3px rgba(0,0,0,0.11);
    margin: 0 !important;
    z-index: 999;
    border-radius: 0 !important;
    min-height: 70px !important;
}

.navbar-toggle .icon-bar {
    background: #111 !important;
}

.logoimg img {
    /*height:auto !important;
    line-height:38px !important;*/
    margin-top: 8px;
    margin-right: 60px;
    margin-left: 20px;
}

.navbar-nav > li > a {
    line-height: 38px !important;
    font-size: 15px !important;
}

#navbar-phone {
    color: #51b8f1;
    font-size: 24px !important;
    font-weight: bold;
}

.nav > li > a:focus, .nav > li > a:hover {
    color: #51b8f1 !important;
    background: none !important;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    color: #51b8f1 !important;
    background: none !important;
}

.dropdown-menu {
    border: none !important;
    border-radius: 0px !important;
    font-size: 15px !important;
}

.row-links li {
    display: inline;
    border-bottom:none !important;
}
.fonter-content{
    margin-left: 20%;
    width:70%;
}
.feedback{
   margin:0 !important;
   padding:0 !important;
   width:auto !important;
}
