@{
    ViewBag.Title = "首页";
}

<!--Main Content start-->
<div class="main-content">

    <!--Main Slider Start-->
    <section class="home-slider">
        <div class="tp-banner-container">
            <div class="tp-banner">
                <ul>
                    <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="../images/home-slider/1.jpg" data-saveperformance="off" data-title="We are Awsome">
                        <img src="~/images/home-slider/1.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
                    </li>

                    <li data-transition="slideup" data-slotamount="1" data-masterspeed="1000" data-thumb="../images/home-slider/2.jpg" data-saveperformance="off" data-title="With Awsome Services">
                        <img src="~/images/home-slider/2.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
                    </li>

                    <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="../images/home-slider/3.jpg" data-saveperformance="off" data-title="We are Awsome">
                        <img src="~/images/home-slider/3.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
                    </li>
                </ul>
                <div class="tp-bannertimer"></div>
            </div>
        </div>
    </section>
    <!--Main Slider End-->
    <!--Welcome Section Start-->
    <section class="welcome-section io_pt ho_pb">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="welcome-content">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="welcome-membar">
                                    <div class="thumb">
                                        <img src="~/images/team/w2.jpg" alt="">
                                        <div class="membar-info">
                                            <h4 class="membar-name">一站式教育解决方案</h4>
                                            <h5 class="doc-title">覆盖学生学习的所有环节</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-sm-6 col-md-6">
                                        <div class="welcome-membar">
                                            <div class="thumb">
                                                <img src="~/images/team/w1.jpg" alt="">
                                                <div class="membar-info">
                                                    <h4 class="membar-name">高精度的专项和多维度讲解</h4>
                                                    <h5 class="doc-title">把知识点分类至原子级别, 并制作多维度讲解</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6">
                                        <div class="welcome-membar">
                                            <div class="thumb">
                                                <img src="~/images/team/w3.jpg" alt="">
                                                <div class="membar-info">
                                                    <h4 class="membar-name">全程记录学习过程</h4>
                                                    <h5 class="doc-title">不仅有短信通知, 也可使用监督工具实时查看</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Welcome Section End-->
    <!--Feature Section Start-->
    <section class="oo_pt ho_pb">
        <div class="container">
            <div class="row">
                <div class="col-md-12 section-title text-center">
                    <h1 class="title">个性学习平台 <span>完整课程体系</span></h1>
                    <h5 class="sub-title sub-title-center">培洛科技的课程100%与学校考试接轨，将知识点分类至原子级别，根据考试频率制作精准专项练习。一切以考试提分为目标！</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="feature-box">
                        <div class="icon-box">
                            @*<i class="flaticon-medical-8 icon"></i>*@
                            <img src="~/images/blog/01.jpg" />
                        </div>
                        <div class="content">
                            <h5 class="title">靶向性题库</h5>
                            <p>所有题目都是采集于课本、学习报、历年试卷、常用教辅等。</p>
                            @*<a class="btn-link" href="#">详情</a>*@
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="feature-box">
                        <div class="icon-box">
                            @*<i class="flaticon-transport icon"></i>*@
                            <img src="~/images/blog/02.jpg" />
                        </div>
                        <div class="content">
                            <h5 class="title">三级分类切片</h5>
                            <p>根据考试频率和知识点难易程度, 进行分类切片, 做成专项。</p>
                            @*<a class="btn-link" href="#">详情</a>*@
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="feature-box">
                        <div class="icon-box">
                            <img src="~/images/blog/03.jpg" />
                        </div>
                        <div class="content">
                            <h5 class="title">富文本</h5>
                            <p>在题目的解释上附有彩色的图例和立体图标,让解释不再枯燥。</p>
                            @*<a class="btn-link" href="#">详情</a>*@
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="feature-box">
                        <div class="icon-box">
                            <img src="~/images/blog/04.jpg" />
                        </div>
                        <div class="content">
                            <h5 class="title">真人语音</h5>
                            <p>图例配合老师对解题过程的语音讲解，进一步加深印象。</p>
                            @*<a class="btn-link" href="#">详情</a>*@
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="feature-box">
                        <div class="icon-box">
                            <img src="~/images/blog/05.jpg" />
                        </div>
                        <div class="content">
                            <h5 class="title">微视频</h5>
                            <p>对于相对复杂的题型, 会依据方法论配备微视频。</p>
                            @*<a class="btn-link" href="#">详情</a>*@
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="feature-box">
                        <div class="icon-box">
                            <img src="~/images/blog/06.jpg" />
                        </div>
                        <div class="content">
                            <h5 class="title">个性留言</h5>
                            <p>老师对学生的做题进行批改, 遇到有问题可以进行一对一讲解。</p>
                            @*<a class="btn-link" href="#">详情</a>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Feature Section End-->
    <!--Divider Style Start-->
    <section class="theme-overlay overlay-theme bg-img img-2 do_pt do_pb">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="fs-italic title oo_mt ae_mb">体验培洛科技智能课堂！</h1>
                    <h5 class="fs-italic lh-22 oe_mb">智能课堂是个性化定制教案，每个孩子学习的是适合自己的课程和进度，相当于1对1教学。</h5>
                </div>
                <div class="col-md-4 text-right bo_mt">
                    <a class="btn-theme btn-black btn-round" href="#">在线咨询</a>
                </div>
            </div>
        </div>
    </section>
    <!--Divider Style End-->
    <!--Services Section Start-->
    <section class="io_pt fo_pb">
        <div class="container">
            <div class="row">
                <div class="col-md-12 section-title text-center">
                    <h1 class="title"><span>不用老师  </span>高效学习</h1>
                    <h5 class="sub-title sub-title-center">培洛利用人工智能和大数据的优势, 实现比传统课堂更高效、更吸引学生的教学。让学生能随时随地想学就学。</h5>
                </div>
            </div>
            <div class="row services-style">
                <div class="col-sm-6 col-md-6 col-lg-4">
                    <div class="service-post">
                        <div class="thumb">
                            <img src="~/images/service/1.jpg" alt="">
                        </div>
                        <div class="icon-box">
                            <i class="fa fa-youtube-play icon"></i>
                        </div>
                        <div class="content">
                            <h5 class="title">上课教学</h5>
                            <p>不仅是复习,也可以对新课进行完整学习</p>
                            @*<a href="#" class="btn-link">read more</a>*@
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-4">
                    <div class="service-post">
                        <div class="thumb">
                            <img src="~/images/service/2.jpg" alt="">
                        </div>
                        <div class="icon-box">
                            <i class="flaticon-ribbon icon"></i>
                        </div>
                        <div class="content">
                            <h5 class="title">课后练习</h5>
                            <p>根据每个人不同的学校进度, 无缝接入</p>
                            @*<a href="#" class="btn-link">read more</a>*@
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-4">
                    <div class="service-post">
                        <div class="thumb">
                            <img src="~/images/service/3.jpg" alt="">
                        </div>
                        <div class="icon-box">
                            <i class="fa fa-star icon"></i>
                        </div>
                        <div class="content">
                            <h5 class="title">作业批改</h5>
                            <p>每道题都会经过老师的批改、审核</p>
                            @*<a href="#" class="btn-link">read more</a>*@
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-4">
                    <div class="service-post">
                        <div class="thumb">
                            <img src="~/images/service/4.jpg" alt="">
                        </div>
                        <div class="icon-box">
                            <i class="fa fa-star icon"></i>
                        </div>
                        <div class="content">
                            <h5 class="title">考试测评</h5>
                            <p>根据学生平时的练习, 推算出成绩</p>
                            @*<a href="#" class="btn-link">read more</a>*@
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-4">
                    <div class="service-post">
                        <div class="thumb">
                            <img src="~/images/service/5.jpg" alt="">
                        </div>
                        <div class="icon-box">
                            <i class="fa fa-calendar icon"></i>
                        </div>
                        <div class="content">
                            <h5 class="title">学情分析</h5>
                            <p>系统会记录每一次的学习过程, 生成分析</p>
                            @*<a href="#" class="btn-link">read more</a>*@
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-4">
                    <div class="service-post">
                        <div class="thumb">
                            <img src="~/images/service/6.jpg" alt="">
                        </div>
                        <div class="icon-box">
                            <i class="flaticon-clock-1  icon"></i>
                        </div>
                        <div class="content">
                            <h5 class="title">错题巩固</h5>
                            <p>自动记录错题, 并依据遗忘曲线主动推送</p>
                            @*<a href="#" class="btn-link">read more</a>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Services Section End-->
    <!--Funfact Divider Start-->
    <section class="theme-overlay overlay-theme bg-img img-2 fo_pt fo_pb">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="funfact-post">
                        <i class="flaticon-trophy icon"></i>
                        <h4 class="fact-count timer" data-from="0" data-to="600000" data-speed="1000" data-refresh-interval="50">600,000+</h4>
                        <h4 class="title">题库总量</h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="funfact-post">
                        <i class="fa fa-youtube-play icon"></i>
                        <h4 class="fact-count timer" data-from="0" data-to="100000" data-speed="1000" data-refresh-interval="50">100,000+</h4>
                        <h4 class="title">真人语音</h4>
                    </div>
                </div>
                @*<div class="col-md-3 col-sm-6">
                        <div class="funfact-post">
                            <i class="flaticon-users-group icon"></i>
                            <h4 class="fact-count timer" data-from="0" data-to="2724" data-speed="1000" data-refresh-interval="50">2724</h4>
                            <h4 class="title">用户</h4>
                        </div>
                    </div>*@
                <div class="col-md-4 col-sm-6">
                    <div class="funfact-post">
                        <i class="fa fa-star icon"></i>
                        <h4 class="fact-count timer" data-from="0" data-to="2000000" data-speed="1000" data-refresh-interval="50">2000,000+</h4>
                        <h4 class="title">做题记录总量</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Funfact Divider End-->
    <!--Feature Section Start-->
    <section class="io_pt fo_pb">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <div class="inner-title line-bottom do_mb">
                        <h2 class="title">当下最热门的<span>智能课堂</span></h2>
                        <h5 class="color-theme oo_mt ae_mb fw-500">学生提分快, 家长更省心。</h5>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="feature-box">
                                <div class="icon-box">
                                    @*<i class="flaticon-medical-8 icon"></i>*@
                                    <img src="~/images/blog/001.jpg" />
                                </div>
                                <div class="content">
                                    <h5 class="title">非娱乐</h5>
                                    <p>学习娱乐分清楚，认真学才能好好玩，养成自律好习惯。</p>
                                    <a class="btn-link" href="#">咨询详情</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="feature-box">
                                <div class="icon-box">
                                    <img src="~/images/blog/002.jpg" />
                                </div>
                                <div class="content">
                                    <h5 class="title">实时互动</h5>
                                    <p>解题过程全记录，老师一对一留言解答。</p>
                                    <a class="btn-link" href="#">咨询详情</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="feature-box">
                                <div class="icon-box">
                                    <img src="~/images/blog/003.jpg" />
                                </div>
                                <div class="content">
                                    <h5 class="title">家长监督</h5>
                                    <p>短信通知、监督工具，随时随地查看学生学习进度。</p>
                                    <a class="btn-link" href="#">咨询详情</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="feature-box">
                                <div class="icon-box">
                                    <img src="~/images/blog/004.jpg" />
                                </div>
                                <div class="content">
                                    <h5 class="title">奖惩分明</h5>
                                    <p>做题得钻石，钻石兑换奖品，不认真则会扣钻。</p>
                                    <a class="btn-link" href="#">咨询详情</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="appointment-form" style="margin-top:20%;">
                        <h4 class="form-title"><i class="fa fa-calendar"></i>立即申请试用</h4>
                        <form>
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <input class="form-control" type="text" name="name" placeholder="姓名">
                                </div>
                                <div class="form-group col-md-12">
                                    <input type="text" name="phone" placeholder="电话">
                                </div>
                                <div class="form-group col-md-12">
                                    <textarea placeholder="留言"></textarea>
                                </div>
                            </div>
                            <a class="btn btn-block" href="#">发送</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Feature Section End-->
    <!--Testimonials Section Start-->
    <section class="theme-overlay overlay-white bg-img img-2 io_pt fo_pb">
        <div class="container">
            <div class="row">
                <div class="col-md-12 section-title text-center">
                    <h1 class="title">提分效果好 <span>家长更信赖</span></h1>
                    <h5 class="sub-title sub-title-center">深受学生喜爱，家长信任</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="testimonial-slider">
                        <div class="item">
                            <div class="testimonial-post">
                                <div class="thumb">
                                    <img src="~/images/photos/testi-1.jpg" alt="">
                                </div>
                                <ul>
                                    <li><i class="fa fa-star icon"></i></li>
                                    <li><i class="fa fa-star icon"></i></li>
                                    <li><i class="fa fa-star icon"></i></li>
                                    <li><i class="fa fa-star icon"></i></li>
                                    <li><i class="fa fa-star icon"></i></li>
                                </ul>
                                <p>"以前让孩子做试卷，总是拖拖拉拉不愿意做，很是头疼。现在用了培洛科技，孩子很有兴趣，每天主动要求做题！"</p>
                                <h5 class="testimonial-name">无锡朱女士</h5>
                                @*<h5 class="sub-title">无锡朱女士</h5>*@
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial-post">
                                <div class="thumb">
                                    <img src="~/images/photos/testi-2.jpg" alt="">
                                </div>
                                <ul>
                                    <li><i class="fa fa-star icon"></i></li>
                                    <li><i class="fa fa-star icon"></i></li>
                                    <li><i class="fa fa-star icon"></i></li>
                                    <li><i class="fa fa-star icon"></i></li>
                                    <li><i class="fa fa-star icon"></i></li>
                                </ul>
                                <p>"数学一直是孩子很头疼的科目，去过很补习班都不理想。试学了培洛的课程之后，发现他们把知识点分的很细，孩子很好理解。"</p>
                                <h5 class="testimonial-name">江阴高女士</h5>
                                @*<h5 class="sub-title">Patient Of Chirst</h5>*@
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial-post">
                                <div class="thumb">
                                    <img src="~/images/photos/testi-3.jpg" alt="">
                                </div>
                                <ul>
                                    <li><i class="fa fa-star icon"></i></li>
                                    <li><i class="fa fa-star icon"></i></li>
                                    <li><i class="fa fa-star icon"></i></li>
                                    <li><i class="fa fa-star icon"></i></li>
                                    <li><i class="fa fa-star icon"></i></li>
                                </ul>
                                <p>"我们家两个女儿的英语都是在培洛智能课堂学习的，突袭了一个多月，就把一整年落下的课程全都补回来了，开学无压力。"</p>
                                <h5 class="testimonial-name">山东孙先生</h5>
                                @*<h5 class="sub-title">Patient Of Chirst</h5>*@
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial-post">
                                <div class="thumb">
                                    <img src="~/images/photos/testi-4.jpg" alt="">
                                </div>
                                <ul>
                                    <li><i class="fa fa-star icon"></i></li>
                                    <li><i class="fa fa-star icon"></i></li>
                                    <li><i class="fa fa-star icon"></i></li>
                                    <li><i class="fa fa-star icon"></i></li>
                                    <li><i class="fa fa-star icon"></i></li>
                                </ul>
                                <p>"孩子一个人在家学习也很有劲，暑假学了一个月的新课，开学后老师表扬她很多，最近几次考试都是95分以上，我会继续使用的。"</p>
                                <h5 class="testimonial-name">苏州张女士</h5>
                                @*<h5 class="sub-title">Patient Of Chirst</h5>*@
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial-post">
                                <div class="thumb">
                                    <img src="~/images/photos/testi-5.jpg" alt="">
                                </div>
                                <ul>
                                    <li><i class="fa fa-star icon"></i></li>
                                    <li><i class="fa fa-star icon"></i></li>
                                    <li><i class="fa fa-star icon"></i></li>
                                    <li><i class="fa fa-star icon"></i></li>
                                    <li><i class="fa fa-star icon"></i></li>
                                </ul>
                                <p>"自从去了培洛智能课堂，再也不需要买试卷，孩子学下来又兑换了好多文具，连换书包的钱都省了。"</p>
                                <h5 class="testimonial-name">合肥王先生</h5>
                                @*<h5 class="sub-title">Patient Of Chirst</h5>*@
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial-post">
                                <div class="thumb">
                                    <img src="~/images/photos/testi-6.jpg" alt="">
                                </div>
                                <ul>
                                    <li><i class="fa fa-star icon"></i></li>
                                    <li><i class="fa fa-star icon"></i></li>
                                    <li><i class="fa fa-star icon"></i></li>
                                    <li><i class="fa fa-star icon"></i></li>
                                    <li><i class="fa fa-star icon"></i></li>
                                </ul>
                                <p>"每天都会收到孩子学习的反馈通知，学了多少一目了然，偶尔礼拜天自己在家也可以借助家长工具辅导孩子。"</p>
                                <h5 class="testimonial-name">江阴朱女士</h5>
                                @*<h5 class="sub-title">Patient Of Chirst</h5>*@
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Testimonials Section End-->
    <!--Studens Section Start-->
    <section class="blog-section io_pt eo_pb">
        <div class="container">
            <div class="row">
                <div class="col-md-12 section-title text-center">
                    <h1 class="title">学员风采</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="blog-post">
                        <div class="thumb">
                            <img src="~/images/blog/1.jpg" alt="">
                        </div>
                        <div class="content">
                            <h5 class="title">孙韶悦</h5>
                            <div class="meta-tag">
                                <a href="#">江阴市</a>
                                <a href="#">花园小学</a>
                                <a class="blog-post-authore" href="#">五年级</a>
                            </div>
                            <a class="btn-theme btn-xs" href="#">查看更多</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="blog-post">
                        <div class="thumb">
                            <img src="~/images/blog/2.jpg" alt="">
                        </div>
                        <div class="content">
                            <h5 class="title">陈一凡</h5>
                            <div class="meta-tag">
                                <a href="#">江阴市</a>
                                <a class="blog-post-authore" href="#">五年级</a>
                            </div>
                            <a class="btn-theme btn-xs" href="#">查看更多</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="blog-post">
                        <div class="thumb">
                            <img src="~/images/blog/3.jpg" alt="">
                        </div>
                        <div class="content">
                            <h5 class="title">孙雨/孙家旺</h5>
                            <div class="meta-tag">
                                <a href="#">无锡市</a>
                                <a class="blog-post-authore" href="#">五年级/四年级</a>
                            </div>
                            <a class="btn-theme btn-xs" href="#">查看更多</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Studens Section End-->
    <!--School Section Start-->
    <section class="bgcolor-theme do_pt do_pb">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="client-slider owlnav-true owl-nav3">
                        <a href="#"><img src="~/images/client/1.png" alt="client-logo"></a>
                        <a href="#"><img src="~/images/client/2.png" alt="client-logo"></a>
                        <a href="#"><img src="~/images/client/3.png" alt="client-logo"></a>
                        <a href="#"><img src="~/images/client/4.png" alt="client-logo"></a>
                        <a href="#"><img src="~/images/client/5.png" alt="client-logo"></a>
                        <a href="#"><img src="~/images/client/6.png" alt="client-logo"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--School Section End-->
</div>
<!--Main Content end-->