@{
    ViewBag.Title = "关于我们";
}
@Styles.Render("~/time/css")
@Scripts.Render("~/timeline/js")



<!--About Banner section-->
<div class="banner-area">
    <div class="container">
        <div class="row">
            <div class="main-banner text-center">
                <h2 class="text-white">关于培洛</h2>
                <ol class="breadcrumb">
                    <li><a href="/">首页</a></li>
                    <li class="active"><a href="/Home/About">公司简介</a></li>
                </ol>
            </div>
        </div><!-- End off row -->
    </div><!-- End off container -->
</div><!-- End off banner section -->
<!--The leading Section-->
<section id="leading" class="leading sections2">
    <div class="container">
        <div class="row">
            <div class="main-leading">
                <div class="col-md-6">
                    <div class="leading-content">
                        <div class="head-title">
                            <h2 class="text-black">
                                追梦的脚步从未停止
                            </h2>
                            <p class="m-top-30 text-black">
                                无锡培洛科技一直致力于用智能科技提升教学效率，建立一站式教育解决方案。

                            </p>
                            <div class="separator-left"></div>
                        </div>
                        <p class="m-top-40 text-black">
                            公司创始人在”Francis Bacon”和“ John Loke”思想启发下，耗时2年多研究出一套方法论，突破传统思维的束缚。
                            依托培洛方法论的指导，对关系错综复杂的知识点实现了精细化、阶梯化的分类。摆脱部分传统教育话术，实现更简洁的解释，让学生更易于掌握。
                        </p>
                        <a href="" class="btn btn-primary btn-round m-top-20">更多细节</a>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="leading-img sm-m-top-50">
                        <img src="~/assets/images/top.png" alt="" />
                    </div>
                </div>
            </div>
        </div><!-- End off row-->
    </div><!-- End off container -->
</section><!-- End off leading section-->
<section id="leading" class="leading bg-primary sections2">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="leading-img sm-m-top-50">
                    <img src="~/assets/images/top2.png" height="370"/>
                </div>
            </div>
            <div class="main-leading">
                <div class="col-md-6">
                    <div class="leading-content">
                        <div class="head-title">
                            <h2 class="text-white">
                                不变的是初心
                            </h2>
                            <p class="m-top-30 text-white">
                                我们公司的团队是有着同样目标、 愿意为教育付出的年轻人，大家抱着革新教育的梦想，一起探索更优的教育方案。
                            </p>
                            <div class="separator2 hv2"><span></span><span></span><span></span></div>
                        </div>
                        <p class="m-top-40">
                            我们来自不同的地方，怀着共同的一个梦想，组成了一支钢铁团队。大家各尽所长，优势互补。在相处中，我们共同挑战相互协作，建立了深厚的友谊和良好的默契。
                        </p>
                        <a href="" class="btn btn-default btn-round m-top-20">了解更多</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="row m-top-50">
    <div class="col-md-12">
        <div class="head-title text-center">
            <h2 class="text-black">发展历程</h2>
        </div>
    </div>
</div>
<section id="cd-timeline" class="cd-container" style="margin-top:20px !important;">
    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-picture">
            <img src="~/img/1.svg" alt="Picture">
        </div> <!-- cd-timeline-img -->
        <div class="cd-timeline-content">
            <h2>方法论研究</h2>
            <p>方法论主要受启发于Francis•Bacon 和 John•Locke </p>
            <!-- <a href="#0" class="cd-read-more">Read more</a> -->
            <span class="cd-date">2013/02</span>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->
    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-location">
            <img src="~/img/2.svg" alt="Movie">
        </div> <!-- cd-timeline-img -->
        <div class="cd-timeline-content">
            <h2>方法论教育实践</h2>
            <p> 方法论研究成果运用于教学实践</p>
            <!-- <a href="#0" class="cd-read-more">Read more</a> -->
            <span class="cd-date">2014/06</span>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->
    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-picture">
            <img src="~/img/3.svg" alt="Picture">
        </div> <!-- cd-timeline-img -->
        <div class="cd-timeline-content">
            <h2>软件草稿设计</h2>
            <p>依托计算机与互联网，进一步落实方法论 </p>
            <!-- <a href="#0" class="cd-read-more">Read more</a> -->
            <span class="cd-date">2015/01</span>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->
    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-movie">
            <img src="~/img/4.svg" alt="Location">
        </div> <!-- cd-timeline-img -->
        <div class="cd-timeline-content">
            <h2>软件内测</h2>
            <p>多名六年级小学生开始使用软件进行学习</p>
            <!-- <a href="#0" class="cd-read-more">Read more</a> -->
            <span class="cd-date">2015/05</span>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->
    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-picture">
            <img src="~/img/5.svg" alt="Location">
        </div> <!-- cd-timeline-img -->
        <div class="cd-timeline-content">
            <h2>手写功能上线</h2>
            <p>发挥计算机和互联网的强大优势，同时保留传统的学习习惯</p>
            <!-- <a href="#0" class="cd-read-more">Read more</a> -->
            <span class="cd-date">2015/09</span>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-location">
            <img src="~/img/6.svg" alt="Location">
        </div> <!-- cd-timeline-img -->
        <div class="cd-timeline-content">
            <h2>自建题库突破1万</h2>
            <p>覆盖小学六年级下册以及部分初中科目</p>
            <!-- <a href="#0" class="cd-read-more">Read more</a> -->
            <span class="cd-date">2015/11</span>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->
    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-movie">
            <img src="~/img/7.svg" alt="Location">
        </div> <!-- cd-timeline-img -->
        <div class="cd-timeline-content">
            <h2>手写功能升级</h2>
            <p>
                实现原笔迹输入
            </p>
            <!-- <a href="#0" class="cd-read-more">Read more</a> -->
            <span class="cd-date">2016/02</span>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->
    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-picture">
            <img src="~/img/8.svg" alt="Location">
        </div> <!-- cd-timeline-img -->
        <div class="cd-timeline-content">
            <h2>公司注册成立</h2>
            <p>根据方法论取名BaconLocke，中文“培洛”，全名“无锡培洛科技有限公司”</p>
            <!-- <a href="#0" class="cd-read-more">Read more</a> -->
            <span class="cd-date">2016/07</span>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->
    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-location">
            <img src="~/img/9.svg" alt="Location">
        </div> <!-- cd-timeline-img -->
        <div class="cd-timeline-content">
            <h2>软件公测</h2>
            <p>开始有各地的学生使用</p>
            <!-- <a href="#0" class="cd-read-more">Read more</a> -->
            <span class="cd-date">2016/08</span>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->
    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-picture">
            <img src="~/img/10.svg" alt="Location">
        </div> <!-- cd-timeline-img -->
        <div class="cd-timeline-content">
            <h2>批作业功能上线</h2>
            <p>学生做题，后台老师可以实时批改</p>
            <!-- <a href="#0" class="cd-read-more">Read more</a> -->
            <span class="cd-date">2016/09</span>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->
    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-location">
            <img src="~/img/11.svg" alt="Location">
        </div> <!-- cd-timeline-img -->
        <div class="cd-timeline-content">
            <h2>第一家合作机构</h2>
            <p>正式签下第一个合作教育机构</p>
            <!-- <a href="#0" class="cd-read-more">Read more</a> -->
            <span class="cd-date">2016/11</span>
        </div> <!-- cd-timeline-content -->
    </div>
    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-movie">
            <img src="~/img/12.svg" alt="Location">
        </div> <!-- cd-timeline-img -->
        <div class="cd-timeline-content">
            <h2>自建题库突破60万</h2>
            <p>实现小学课程全覆盖，初中课程覆盖大半</p>
            <!-- <a href="#0" class="cd-read-more">Read more</a> -->
            <span class="cd-date">2017/01</span>
        </div> <!-- cd-timeline-content -->
    </div>

    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-picture">
            <img src="~/img/13.svg" alt="Movie">
        </div> <!-- cd-timeline-img -->
        <div class="cd-timeline-content">
            <h2>合作机构突破10家</h2>
            <p>越来越多的机构 加盟智能课堂</p>
            <a href="#0" class="cd-read-more">了解更多</a>
            <span class="cd-date">2017/03</span>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->
</section> <!-- cd-timeline -->
@Scripts.Render("~/jq/js")
@Scripts.Render("~/time/js")