@{
    ViewBag.Title = "公司简介";
}
@*@Styles.Render("~/time/css")*@
 <!--About Banner section-->
<div class="banner-area">
    <div class="container">
        <div class="row">
            <div class="main-banner text-center">
                <h2 class="text-white">关于培洛</h2>
                <ol class="breadcrumb">
                    <li><a href="/">首页</a></li>
                    <li class="active"><a href="/Home/About">公司简介</a></li>
                </ol>
            </div>
        </div><!-- End off row -->
    </div><!-- End off container -->
</div><!-- End off banner section -->


@*<div class="content">
    <article>
        <h3>2013</h3>
        <section>
            <span class="point-time point-yellow"></span>
            <time datetime="2013-03">
                <span>March</span>
                <span>2013</span>
            </time>
            <aside>
                <p class="things">The FAW</p>
                <p class="brief"><span class="text-yellow">Award</span> (Miami. FL)</p>
            </aside>
        </section>
        <section>
            <span class="point-time point-red"></span>
            <time datetime="2013-03">
                <span>March</span>
                <span>2013</span>
            </time>
            <aside>
                <p class="things">You reached 500 followers on Twitter</p>
                <p class="brief"><span class="text-red">Social Appearance</span></p>
            </aside>
        </section>
    </article>

    <article>
        <h3>2012</h3>
        <section>
            <span class="point-time point-green"></span>
            <time datetime="2013-03">
                <span>December</span>
                <span>2012</span>
            </time>
            <aside>
                <p class="things">Visitor at Maketing Live 2012</p>
                <p class="brief"><span class="text-green">Conference</span></p>
            </aside>
        </section>
        <section>
            <span class="point-time point-green"></span>
            <time datetime="2012-11">
                <span>November</span>
                <span>2012</span>
            </time>
            <aside>
                <p class="things">Visitor at Daily web 2012</p>
                <p class="brief"><span class="text-green">Conference</span></p>
            </aside>
        </section>
        <section>
            <span class="point-time point-red"></span>
            <time datetime="2012-09">
                <span>September</span>
                <span>2012</span>
            </time>
            <aside>
                <p class="things">You reached 500 followers on Dribbble</p>
                <p class="brief"><span class="text-red">Social Appearance</span></p>
            </aside>
        </section>
        <section>
            <span class="point-time point-blue"></span>
            <time datetime="2012-08">
                <span>August</span>
                <span>2012</span>
            </time>
            <aside>
                <p class="things">New job position as Senior Designer at Fantasy Interactive</p>
                <p class="brief"><span class="text-blue">Working Experience</span></p>
            </aside>
        </section>
        <section>
            <span class="point-time point-red"></span>
            <time datetime="2012-03">
                <span>March</span>
                <span>2012</span>
            </time>
            <aside>
                <p class="things">Speaker at ASMO conference</p>
                <p class="brief"><span class="text-red">Conference</span></p>
            </aside>
        </section>
        <section>
            <span class="point-time point-blue"></span>
            <time datetime="2012-02">
                <span>February</span>
                <span>2012</span>
            </time>
            <aside>
                <p class="things">You added new skills to job position Junior Designer at Fantasy Interactive</p>
                <p class="brief"><span class="text-blue">Working Experience</span></p>
            </aside>
        </section>
    </article>
</div>*@



<!--The leading Section-->
<section id="leading" class="leading sections2">
    <div class="container">
        <div class="row">
            <div class="main-leading">
                <div class="col-md-6">
                    <div class="leading-content">
                        <div class="head-title">
                            <h2 class="text-black">
                                Sit back, relax and learn from
                                the experts.
                            </h2>
                            <p class="m-top-30 text-black">
                                According to TopTenReviews in 2017, as well as many other 3rd party review
                                sites and publications we always comes out on top.
                            </p>
                            <div class="separator-left"></div>
                        </div>
                        <p class="m-top-40 text-black">
                            We’re a leading Internet Digital Marketing Company who offers SEO,
                            Paid Search, Social Media, ConsultingLead Generation, Brand Reputation
                            Management, and Web Design Services.
                        </p>
                        <a href="" class="btn btn-primary btn-round m-top-20">Our Team</a>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="leading-img sm-m-top-50">
                        <img src="~/assets/images/leading-img.png" alt="" />
                    </div>
                </div>
            </div>
        </div><!-- End off row-->
    </div><!-- End off container -->
</section><!-- End off leading section-->
<!--User Expreance section-->
<div class="experience-area sections4">
    <div class="container">
        <div class="row">
            <div class="main-experience text-center">
                <h3 class="text-white">What Can We Do For You?</h3>
                <h2 class="text-white m-top-20">Compelling User Experience</h2>
                <div class="underline"></div>
            </div>
        </div> <!-- End off row -->
    </div> <!-- End off container -->
</div> <!-- End off User Expreance section-->
<!--History section-->
<div class="history sections">
    <div class="container">
        <div class="row">
            <div class="main-history">
                <div class="head-title text-center">
                    <h2 class="text-black">Our History</h2>
                    <p class="text-black m-top-10">Check out timeline to see our history and how we got to be who we are today.</p>
                </div>

                <div id="history-slid" class="carousel slide carousel-fade m-top-50" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators text-center">
                        <li data-target="#history-slid" data-slide-to="0">2017</li>
                        <li data-target="#history-slid" data-slide-to="1" class="active">2015</li>
                        <li data-target="#history-slid" data-slide-to="2">2014</li>
                        <li data-target="#history-slid" data-slide-to="3">2013</li>
                        <li data-target="#history-slid" data-slide-to="4">2012</li>
                        <li data-target="#history-slid" data-slide-to="5">2011</li>
                        <li data-target="#history-slid" data-slide-to="6">2010</li>
                        <li data-target="#history-slid" data-slide-to="7">2009</li>
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item p-top-100">
                            <div class="col-md-4">
                                <div class="history-img">
                                    <img src="~/assets/images/history-img-01.png" alt="" />
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="history-content sm-m-top-50">
                                    <a href="">March, 2015</a>
                                    <h3>The moment when we changes our lives</h3>
                                    <p>
                                        We offer a wide range of design and development services that are all delivered using latest greatest technologies with a personal experience. Our goal is to provide our customers the means to effectively present and market
                                        themselves online successfully.
                                    </p>
                                    <p>
                                        We strategically help build your brand, improve your global web presence, and develop meaningful relationships with your customers. We also use our local marketing skills to help hundreds of smaller businesses in a variety of industries. Dentists, plumbers, veterinarians, dermatologists, and other specialized industries benefit from our
                                        dedicated, professional digital marketing campaigns
                                    </p>
                                </div>
                            </div>
                        </div><!-- End off item-->
                        <div class="item active p-top-100">
                            <div class="col-md-4">
                                <div class="history-img">
                                    <img src="~/assets/images/history-img-01.png" alt="" />
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="history-content sm-m-top-50">
                                    <a href="">March, 2015</a>
                                    <h3 class="m-top-10">The moment when we changes our lives</h3>
                                    <p class="m-top-30">
                                        We offer a wide range of design and development services that are all delivered using latest greatest technologies with a personal experience. Our goal is to provide our customers the means to effectively present and market
                                        themselves online successfully.
                                    </p>
                                    <p class="m-top-20">
                                        We strategically help build your brand, improve your global web presence, and develop meaningful relationships with your customers. We also use our local marketing skills to help hundreds of smaller businesses in a variety of industries. Dentists, plumbers, veterinarians, dermatologists, and other specialized industries benefit from our
                                        dedicated, professional digital marketing campaigns
                                    </p>
                                </div>
                            </div>
                        </div><!-- End off item-->
                        <div class="item p-top-100">
                            <div class="col-md-4">
                                <div class="history-img">
                                    <img src="~/assets/images/history-img-01.png" alt="" />
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="history-content sm-m-top-50">
                                    <a href="">March, 2015</a>
                                    <h3 class="m-top-10">The moment when we changes our lives</h3>
                                    <p class="m-top-30">
                                        We offer a wide range of design and development services that are all delivered using latest greatest technologies with a personal experience. Our goal is to provide our customers the means to effectively present and market
                                        themselves online successfully.
                                    </p>
                                    <p class="m-top-20">
                                        We strategically help build your brand, improve your global web presence, and develop meaningful relationships with your customers. We also use our local marketing skills to help hundreds of smaller businesses in a variety of industries. Dentists, plumbers, veterinarians, dermatologists, and other specialized industries benefit from our
                                        dedicated, professional digital marketing campaigns
                                    </p>
                                </div>
                            </div>
                        </div><!-- End off item-->
                        <div class="item p-top-100">
                            <div class="col-md-4">
                                <div class="history-img">
                                    <img src="~/assets/images/history-img-01.png" alt="" />
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="history-content sm-m-top-50">
                                    <a href="">March, 2015</a>
                                    <h3 class="m-top-10">The moment when we changes our lives</h3>
                                    <p class="m-top-30">
                                        We offer a wide range of design and development services that are all delivered using latest greatest technologies with a personal experience. Our goal is to provide our customers the means to effectively present and market
                                        themselves online successfully.
                                    </p>
                                    <p class="m-top-20">
                                        We strategically help build your brand, improve your global web presence, and develop meaningful relationships with your customers. We also use our local marketing skills to help hundreds of smaller businesses in a variety of industries. Dentists, plumbers, veterinarians, dermatologists, and other specialized industries benefit from our
                                        dedicated, professional digital marketing campaigns
                                    </p>
                                </div>
                            </div>
                        </div><!-- End off item-->
                        <div class="item p-top-100">
                            <div class="col-md-4">
                                <div class="history-img">
                                    <img src="~/assets/images/history-img-01.png" alt="" />
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="history-content sm-m-top-50">
                                    <a href="">March, 2015</a>
                                    <h3 class="m-top-10">The moment when we changes our lives</h3>
                                    <p class="m-top-30">
                                        We offer a wide range of design and development services that are all delivered using latest greatest technologies with a personal experience. Our goal is to provide our customers the means to effectively present and market
                                        themselves online successfully.
                                    </p>
                                    <p class="m-top-20">
                                        We strategically help build your brand, improve your global web presence, and develop meaningful relationships with your customers. We also use our local marketing skills to help hundreds of smaller businesses in a variety of industries. Dentists, plumbers, veterinarians, dermatologists, and other specialized industries benefit from our
                                        dedicated, professional digital marketing campaigns
                                    </p>
                                </div>
                            </div>
                        </div><!-- End off item-->
                        <div class="item p-top-100">
                            <div class="col-md-4">
                                <div class="history-img">
                                    <img src="~/assets/images/history-img-01.png" alt="" />
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="history-content sm-m-top-50">
                                    <a href="">March, 2015</a>
                                    <h3 class="m-top-10">The moment when we changes our lives</h3>
                                    <p class="m-top-30">
                                        We offer a wide range of design and development services that are all delivered using latest greatest technologies with a personal experience. Our goal is to provide our customers the means to effectively present and market
                                        themselves online successfully.
                                    </p>
                                    <p class="m-top-20">
                                        We strategically help build your brand, improve your global web presence, and develop meaningful relationships with your customers. We also use our local marketing skills to help hundreds of smaller businesses in a variety of industries. Dentists, plumbers, veterinarians, dermatologists, and other specialized industries benefit from our
                                        dedicated, professional digital marketing campaigns
                                    </p>
                                </div>
                            </div>
                        </div><!-- End off item-->
                        <div class="item p-top-100">
                            <div class="col-md-4">
                                <div class="history-img">
                                    <img src="~/assets/images/history-img-01.png" alt="" />
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="history-content sm-m-top-50">
                                    <a href="">March, 2015</a>
                                    <h3 class="m-top-10">The moment when we changes our lives</h3>
                                    <p class="m-top-30">
                                        We offer a wide range of design and development services that are all delivered using latest greatest technologies with a personal experience. Our goal is to provide our customers the means to effectively present and market
                                        themselves online successfully.
                                    </p>
                                    <p class="m-top-20">
                                        We strategically help build your brand, improve your global web presence, and develop meaningful relationships with your customers. We also use our local marketing skills to help hundreds of smaller businesses in a variety of industries. Dentists, plumbers, veterinarians, dermatologists, and other specialized industries benefit from our
                                        dedicated, professional digital marketing campaigns
                                    </p>
                                </div>
                            </div>
                        </div><!-- End off item-->
                        <div class="item p-top-100">
                            <div class="col-md-4">
                                <div class="history-img">
                                    <img src="~/assets/images/history-img-01.png" alt="" />
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="history-content sm-m-top-50">
                                    <a href="">March, 2015</a>
                                    <h3 class="m-top-10">The moment when we changes our lives</h3>
                                    <p class="m-top-30">
                                        We offer a wide range of design and development services that are all delivered using latest greatest technologies with a personal experience. Our goal is to provide our customers the means to effectively present and market
                                        themselves online successfully.
                                    </p>
                                    <p class="m-top-20">
                                        We strategically help build your brand, improve your global web presence, and develop meaningful relationships with your customers. We also use our local marketing skills to help hundreds of smaller businesses in a variety of industries. Dentists, plumbers, veterinarians, dermatologists, and other specialized industries benefit from our
                                        dedicated, professional digital marketing campaigns
                                    </p>
                                </div>
                            </div>
                        </div><!-- End off item-->
                    </div>
                    <!-- Controls -->
                    <a class="left carousel-control hidden-sm hidden-xs" href="#history-slid" role="button" data-slide="prev">
                        <span class="icon icon-arrows-3" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control hidden-sm hidden-xs" href="#history-slid" role="button" data-slide="next">
                        <span class="icon icon-arrows-2" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div><!-- End off carusel inner -->
            </div>
        </div> <!--End off row-->
    </div> <!--End off container-->
</div> <!-- End off history section-->
<!--Business section-->
<section id="business" class="business bg-black p-top-100 p-bottom-100">
    <div class="container">
        <div class="row">
            <div class="main-business">
                <div class="col-md-6">
                    <div class="business-content m-top-40">
                        <h2 class="text-white">
                            Whatever your goals look
                            like, we’ll put our experience
                            to work to reach
                        </h2>
                        <p class="m-top-30 text-primary">
                            Searching tirelessly for an agency capable of attracting qualified leads and
                            nurturing those leads into paying customers of your business?
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="business-video sm-m-top-50">
                        <img src="~/assets/images/business-video-img1.png" alt="" />
                        <div class="business-video-icon">
                            <a href="" class="video-link"><span class="icon icon-interface"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End off row -->
    </div><!-- End off container -->
</section><!-- End off business section-->
<!--Team section-->
<div class="team-area bg-white sections">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="head-title text-center">
                    <h2 class="text-black">Meet The Team</h2>
                    <p class="text-black m-top-10">Professional, quality results by our experienced SEO consultants.</p>
                </div>
            </div>
            <div class="main-team text-center p-top-50">
                <div class="col-md-3 col-sm-6">
                    <div class="single-team">
                        <div class="team-img">
                            <img src="~/assets/images/team-img-01.jpg" alt="" class="img-circle" />
                        </div>
                        <div class="team-description m-top-20">
                            <h4 class="text-black">John C. Barrett</h4>
                            <p class="m-top-10 text-black">Director Search & Social</p>
                        </div>
                        <div class="team-socail m-top-20">
                            <ul class="list-inline">
                                <li><a href=""><span class="icon icon-social-2"></span></a></li>
                                <li><a href=""><span class="icon icon-social-1"></span></a></li>
                                <li><a href=""><span class="fa fa-youtube"></span></a></li>
                                <li><a href=""><span class="icon icon-social"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div><!-- End off col-md-3 -->
                <div class="col-md-3 col-sm-6">
                    <div class="single-team xs-m-top-40">
                        <div class="team-img">
                            <img src="~/assets/images/team-img-02.jpg" alt="" class="img-circle" />
                        </div>
                        <div class="team-description m-top-20">
                            <h4 class="text-black">John C. Barrett</h4>
                            <p class="m-top-10 text-black">Director Search & Social</p>
                        </div>
                        <div class="team-socail m-top-20">
                            <ul class="list-inline">
                                <li><a href=""><span class="icon icon-social-2"></span></a></li>
                                <li><a href=""><span class="icon icon-social-1"></span></a></li>
                                <li><a href=""><span class="fa fa-youtube"></span></a></li>
                                <li><a href=""><span class="icon icon-social"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div><!-- End off col-md-3 -->
                <div class="col-md-3 col-sm-6">
                    <div class="single-team  sm-m-top-40">
                        <div class="team-img">
                            <img src="~/assets/images/team-img-03.jpg" alt="" class="img-circle" />
                        </div>
                        <div class="team-description m-top-20">
                            <h4 class="text-black">John C. Barrett</h4>
                            <p class="m-top-10 text-black">Director Search & Social</p>
                        </div>
                        <div class="team-socail m-top-20">
                            <ul class="list-inline">
                                <li><a href=""><span class="icon icon-social-2"></span></a></li>
                                <li><a href=""><span class="icon icon-social-1"></span></a></li>
                                <li><a href=""><span class="fa fa-youtube"></span></a></li>
                                <li><a href=""><span class="icon icon-social"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div><!-- End off col-md-3 -->
                <div class="col-md-3 col-sm-6">
                    <div class="single-team sm-m-top-40">
                        <div class="team-img">
                            <img src="~/assets/images/team-img-04.jpg" alt="" class="img-circle" />
                        </div>
                        <div class="team-description m-top-20">
                            <h4 class="text-black">John C. Barrett</h4>
                            <p class="m-top-10 text-black">Director Search & Social</p>
                        </div>
                        <div class="team-socail m-top-20">
                            <ul class="list-inline">
                                <li><a href=""><span class="icon icon-social-2"></span></a></li>
                                <li><a href=""><span class="icon icon-social-1"></span></a></li>
                                <li><a href=""><span class="fa fa-youtube"></span></a></li>
                                <li><a href=""><span class="icon icon-social"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div><!-- End off col-md-3 -->
            </div>
        </div><!-- End off row -->
    </div><!-- End off container -->
</div><!-- End off Team section -->
<!--About service section-->
<div class="about-service sections4 bg-grey">
    <div class="container">
        <div class="row">
            <div class="main-ab-service">
                <div class="col-md-4">
                    <div class="ab-service-item">
                        <div class="ab-s-item-img">
                            <img src="~/assets/images/ab-service-img-01.png" alt="" />
                        </div>
                        <div class="ab-s-item-cotent m-top-20">
                            <h4 class="text-black">First Page on Google</h4>
                            <p class="m-top-10 text-black">
                                Most Internet marketing companies will insist on lengthy
                                contracts before even showing any results.
                            </p>
                        </div>
                    </div>
                </div><!-- End off col-md-4 -->
                <div class="col-md-4">
                    <div class="ab-service-item">
                        <div class="ab-s-item-img">
                            <img src="~/assets/images/ab-service-img-02.png" alt="" />
                        </div>
                        <div class="ab-s-item-cotent m-top-20">
                            <h4 class="text-black">First Page on Google</h4>
                            <p class="m-top-10 text-black">
                                Most Internet marketing companies will insist on lengthy
                                contracts before even showing any results.
                            </p>
                        </div>
                    </div>
                </div><!-- End off col-md-4 -->
                <div class="col-md-4">
                    <div class="ab-service-item">
                        <div class="ab-s-item-img">
                            <img src="~/assets/images/ab-service-img-03.png" alt="" />
                        </div>
                        <div class="ab-s-item-cotent m-top-20">
                            <h4 class="text-black">First Page on Google</h4>
                            <p class="m-top-10 text-black">
                                Most Internet marketing companies will insist on lengthy
                                contracts before even showing any results.
                            </p>
                        </div>
                    </div>
                </div><!-- End off col-md-4 -->
            </div>
        </div><!-- End off row -->
    </div><!-- End off container -->
</div><!-- End off about service section -->
<!--News Letter section-->
<section id="newsletterv1" class="newsletterv1 bg-primary sections4">
    <div class="container">
        <div class="row">
            <div class="main-newsletterv1">
                <div class="col-md-6">
                    <div class="newsletterv1-content">
                        <h2 class="text-white">Our Newsletter</h2>
                        <p class="m-top-30">Subscribe to our newsletter and be the first who receives our latest news:</p>
                        <form class="form-inline" id="newsletter-form" action="">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Your Email Address">
                            </div>
                            <button type="submit">Send invitation</button>
                        </form>
                    </div>
                </div><!-- End off col-md-6-->
                <div class="col-md-5 col-md-offset-1 sm-m-top-50">
                    <div class="newsletterv1-feature">
                        <img src="~/assets/images/newsletterv1-img.png" alt="" />
                    </div>
                </div><!-- End off col-md-6-->
            </div>
        </div><!-- End off row -->
    </div><!-- End off container -->
</section><!-- End off newsletter v1 section -->

