@{
    ViewBag.Title = "培洛优势";
}

<!--About Banner section-->
<div class="banner-area service-banner">
    <div class="container">
        <div class="row">
            <div class="main-banner text-center">
                <h2 class="text-white">培洛优势</h2>
                <ol class="breadcrumb">
                    <li><a href="/">首页</a></li>
                    <li class="active"><a href="/Home/Advantage">培洛优势</a></li>
                </ol>
            </div>
        </div><!-- End off row -->
    </div><!-- End off container -->
</div><!-- End off banner section -->
<!-- Service Section -->
<section id="service" class="service sections ">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="head-title text-center">
                    <h2 class="text-black">授人以鱼不如授人以渔</h2>
                    <p class="m-top-10 text-black">培洛从学生的角度出发，只为达到更高效的学习</p>
                </div>
            </div>
        </div>
        <div class="row equalcol">
            <div class="main-service-area text-center m-top-80 equalcol">
                <div class="col-md-4 col-sm-6">
                    <div class="service-item sm-m-top-65">
                        <div class="service-icon">
                            <img src="~/assets/images/service1.png" alt="" />
                        </div>
                        <h5 class="text-info m-top-50">立体图形</h5>
                        <p class="text-black m-top-20">丰富立体的图形，帮助学生记忆、联想知识考点</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="service-item sm-m-top-65">
                        <div class="service-icon">
                            <img src="~/assets/images/service2.png" alt="" />
                        </div>
                        <h5 class="text-info m-top-50">真人语音讲解</h5>
                        <p class="text-black m-top-20">英语发音、数学解题思路，都有专门的老师录音讲解</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="service-item sm-m-top-65">
                        <div class="service-icon">
                            <img src="~/assets/images/service3.png" alt="" />
                        </div>
                        <h5 class="text-info m-top-50">直击考点微视频</h5>
                        <p class="text-black m-top-20">直击考点的视频讲解，清除不拖拉，配合练习，简单有效</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="service-item m-top-65">
                        <div class="service-icon">
                            <img src="~/assets/images/service4.png" alt="" />
                        </div>
                        <h5 class="text-info m-top-50">交互性</h5>
                        <p class="text-black m-top-20">学生的解题过程，全程记录，发现问题，及时解决</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="service-item m-top-65">
                        <div class="service-icon">
                            <img src="~/assets/images/service5.png" alt="" />
                        </div>
                        <h5 class="text-info m-top-50">奖励制度</h5>
                        <p class="text-black m-top-20">设立奖品制度、每日排行榜，激发学生学习动力</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="service-item m-top-65">
                        <div class="service-icon">
                            <img src="~/assets/images/service6.png" alt="" />
                        </div>
                        <h5 class="text-info m-top-50">家长报告</h5>
                        <p class="text-black m-top-20">与每位家长都紧密相连，每日短息通知，更有家长工具</p>
                    </div>
                </div>
                <div class="btns-area text-center p-top-30">
                    <a href="http://wpa.qq.com/msgrd?v=3&uin=825021872&site=qq&menu=yes" target="_blank" class="btn btn-primary btn-round">更多细节</a>
                </div>
            </div>
        </div><!-- End off row -->
    </div><!-- End off container -->
</section><!-- End off Service Section -->
<!--Happy Customer section-->
<section id="customer" class="customer sections4 bg-grey">
    <div class="container">
        <div class="row">
            <div class="main-customer">
                <div class="col-md-4 col-sm-6">
                    <div class="customer-item">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="customer-icon">
                                    <img src="~/assets/images/cup.png" alt="" />
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="customer-content m-top-15">
                                    <h2><span class="statistic-counter">600,000</span> <span>+</span></h2>
                                    <p>题库总量</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End off col-md-3 -->
                <div class="col-md-4 col-sm-6">
                    <div class="customer-item xs-m-top-50">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="customer-icon">
                                    <img src="~/assets/images/shapes.png" alt="" />
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="customer-content m-top-15">
                                    <h2><span class="statistic-counter">100,000</span> <span>+</span></h2>
                                    <p>真人录音讲解</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End off col-md-3 -->
                <div class="col-md-4 col-sm-6">
                    <div class="customer-item sm-m-top-50">
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="customer-icon">
                                    <img src="~/assets/images/draw.png" alt="" />
                                </div>
                            </div>
                            <div class="col-xs-8">
                                <div class="customer-content m-top-15">
                                    <h2><span class="statistic-counter">2000,000</span> <span>+</span></h2>
                                    <p>做题记录总量</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End off col-md-3 -->
                @*<div class="col-md-3 col-sm-6">
                        <div class="customer-item sm-m-top-50">
                            <div class="row">
                                <div class="col-xs-5">
                                    <div class="customer-icon">
                                        <img src="~/assets/images/cup.png" alt="" />
                                    </div>
                                </div>
                                <div class="col-xs-7">
                                    <div class="customer-content m-top-15">
                                        <h2 class="statistic-counter">100</h2>
                                        <p>Guaranteed Results</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>*@
                <!-- End off col-md-3 -->
            </div>
        </div>
        <!-- End off row -->
    </div>
    <!-- End off container -->
</section>
<!-- Service Section -->
<section id="service-hv2" class="service sections3">
    <div class="container">
        <div class="row">
            <div class="main-service-area-homev2 text-center equalcol">
                <div class="divider-hr hidden-sm hidden-xs"></div>
                <div class="divider-vr1 hidden-sm hidden-xs"></div>
                <div class="divider-vr2 hidden-sm hidden-xs"></div>
                <div class="col-md-4 col-sm-6 no-padding">
                    <div class="service-item-hv2">
                        <div class="service-icon">
                            <img src="~/assets/images/hv2-service-01.png" alt="" />
                        </div>
                        <h5 class="text-primary m-top-30">扎实学</h5>
                        <p class="text-black m-top-20">立体图形、音频、点对点视频、学与练相辅相成包括一对一讲解</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 no-padding">
                    <div class="service-item-hv2">
                        <h2>五大保障</h2>
                        <h5 class="text-primary m-top-20">开启智能课堂新潮</h5>
                        <p class="text-black m-top-20">
                            不用再辛苦寻找好老师、好资料<br />
                            不用担心内容不匹配,进度由孩子自身情况决定<br />
                            第一时间发现问题，确保学生认真学<br />
                            不受时间地点限制，想学就学。<br />并不断降低成本，让学生不为学习费用担心！
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 no-padding">
                    <div class="service-item-hv2">
                        <div class="service-icon">
                            <img src="~/assets/images/hv2-service-03.png" alt="" />
                        </div>
                        <h5 class="text-primary m-top-30">个性学</h5>
                        <p class="text-black m-top-20">
                            根据知识点的继承关系、难易程度分类制作微课程，让不同水平的学生都能得到适合自己的教案。</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 no-padding">
                    <div class="service-item-hv2">
                        <div class="service-icon">
                            <img src="~/assets/images/hv2-service-04.png" alt="" />
                        </div>
                        <h5 class="text-primary m-top-30">高效学</h5>
                        <p class="text-black m-top-20">将未掌握的知识点依据记忆曲线，安排到每日的学习任务中，并重点优先学习。</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 no-padding">
                    <div class="service-item-hv2">
                        <div class="service-icon">
                            <img src="~/assets/images/hv2-service-05.png" alt="" />
                        </div>
                        <h5 class="text-primary m-top-30">舒适学</h5>
                        <p class="text-black m-top-20">
                            配套学习平板拥有带压感的手写笔，与传统答题习惯高度一致，更大书写空间，半离线模式。 </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 no-padding">
                    <div class="service-item-hv2">
                        <div class="service-icon">
                            <img src="~/assets/images/hv2-service-06.png" alt="" />
                        </div>
                        <h5 class="text-primary m-top-30">智能学</h5>
                        <p class="text-black m-top-20">
                            智能化学生任务管理、智能化作业批改审核、智能化作业留言反馈。
                        </p>
                    </div>
                </div>
            </div>
        </div><!-- End off row -->
    </div><!-- End off container -->
</section><!-- End off Service Section -->

<section id="allies" class="allies sections" style="background:url(../../assets/images/vsbg.jpg) center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="head-title text-center">
                    <h2 class="text-black">更好的选择 <span class="text-info">为何不呢？</span></h2>
                    <p>不用老师, 也能高效学习, 秘密尽在培洛科技</p>
                </div>
            </div>
        </div>
        <div class="row main-allies m-top-30">
            <div class="col-md-5" style="padding-left:80px;">
                <div class="allies-content sm-m-top-50">
                    <h5 class="text-black m-top-30">
                        其他学习方式
                    </h5>
                    <div class="separator2"><span style="background-color: #c03839"></span><span style="background-color: #c03839"></span><span style="background-color: #c03839"></span></div>
                    <ul class="text-black m-top-40">
                        <li><i class="fa fa-close" style="color:#c03839;"></i>设计繁琐，练习与传统学习习惯差距较大</li>
                        <li><i class="fa fa-close" style="color:#c03839;"></i>教学与练习结合紧密度低，效果也不是很好</li>
                        <li><i class="fa fa-close" style="color:#c03839;"></i>高昂的学费、课程费、书本费等等</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2" style="padding-top:50px;">
                <img src="~/assets/images/vs.png" />
            </div>
            <div class="col-md-5" style="padding-left:40px;">
                <div class="allies-content sm-m-top-50">
                    <h5 class="text-black m-top-30">
                        培洛智能学习
                    </h5>
                    <div class="separator2"><span></span><span></span><span></span></div>
                    <ul class="text-black m-top-40">
                        <li><i class="fa fa-check"></i>软件设计极简,练习高度还原传统学习习惯,学生体验5颗星</li>
                        <li><i class="fa fa-check"></i>独立承担教学,教与练紧密结合,可轻松完成新课教学</li>
                        <li><i class="fa fa-check"></i>更低价的费用，让更多莘莘学子能低成本的学习</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row m-top-20">
            <div class="col-md-12">
                <div class="head-title text-center">
                    <a href="http://wpa.qq.com/msgrd?v=3&uin=825021872&site=qq&menu=yes" target="_blank" class="btn btn-primary btn-round m-top-30">了解更多</a>
                </div>
            </div>
        </div>

    </div><!--End off container -->
</section>

<!--Newest Blog post section-->
<section id="newest-blog" class="newest-blog sections">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="head-title text-center">
                    <h2 class="text-black">孩子喜欢，家长信赖</h2>
                    <a class="text-danger" href="http://wpa.qq.com/msgrd?v=3&uin=825021872&site=qq&menu=yes" target="_blank">详情咨询<i class="fa fa-arrow-circle-o-right"></i></a>
                </div>
            </div>
            <div class="main-newest-blog m-top-30">

                <div class="col-md-4">
                    <div class="newest-blog-item border" style="padding:0;overflow:hidden;">
                        <img src="~/assets/images/f1.jpg" style="height:306px;" title="家长反馈" />
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="newest-blog-item border" style="padding:0;overflow:hidden;">
                        <img src="~/assets/images/f6.jpg" style="height:306px;" title="家长反馈" />
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="newest-blog-item border" style="padding:0;overflow:hidden;">
                        <img src="~/assets/images/f2.jpg" style="height:306px;" title="家长反馈" />
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="newest-blog-item border" style="padding:0;overflow:hidden;">
                        <img src="~/assets/images/f5.jpg" style="height:306px;" title="家长反馈" />
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="newest-blog-item border" style="padding:0;overflow:hidden;">
                        <img src="~/assets/images/f4.jpg" style="height:306px;" title="家长反馈" />
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="newest-blog-item border" style="padding:0;overflow:hidden;">
                        <img src="~/assets/images/f2.jpg" style="height:306px;" title="家长反馈" />
                    </div>
                </div>

            </div>
            @*<div class="col-md-12 m-top-20">
                    <div class="head-title text-center">
                        <a href="http://wpa.qq.com/msgrd?v=3&uin=825021872&site=qq&menu=yes" class="btn btn-primary btn-round m-top-20">了解更多</a>
                    </div>
                </div>*@
        </div>
        <!-- End off row -->
    </div>
    <!-- End off container -->
</section>

<!-- 在线咨询 begin -->
<div class="main-im">
    <a href="http://www.sobot.com/chat/oldpc/index.html?sysNum=e0d08cc1cf75472084489985b5d7e651" target="_blank">
        <img src="~/assets/images/open_im.png" />
    </a>
</div>
<!-- 在线咨询 end-->