
@{
    ViewBag.Title = "培洛优势";
}

 <!--About Banner section-->
<div class="banner-area service-banner">
    <div class="container">
        <div class="row">
            <div class="main-banner text-center">
                <h2 class="text-white">Our Services</h2>
                <ol class="breadcrumb">
                    <li><a href="index1.html">Home</a></li>
                    <li class="active"><a href="servicepage.html">Service</a></li>
                </ol>
            </div>
        </div><!-- End off row -->
    </div><!-- End off container -->
</div><!-- End off banner section -->
<!-- Service Section -->
<section id="service" class="service sections ">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="head-title text-center">
                    <h2 class="text-black">SeoPress is a battle hardened team of SEO experts.</h2>
                    <p class="m-top-10 text-black">Get your website on the first page of Google and attract thousands of your customers.</p>
                </div>
            </div>
        </div>
        <div class="row equalcol">
            <div class="main-service-area text-center m-top-80 equalcol">
                <div class="col-md-4 col-sm-6">
                    <div class="service-item sm-m-top-65">
                        <div class="service-icon">
                            <img src="~/assets/images/service1.png" alt="" />
                        </div>
                        <h5 class="text-info m-top-50">Search Engine Optimization</h5>
                        <p class="text-black m-top-20">With our 17+ years of experience, our SEO services will get your site ranking.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="service-item sm-m-top-65">
                        <div class="service-icon">
                            <img src="~/assets/images/service2.png" alt="" />
                        </div>
                        <h5 class="text-info m-top-50">Content Marketing</h5>
                        <p class="text-black m-top-20">
                            From blogs and social posts to
                            infographics videos we create and promote quality.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="service-item sm-m-top-65">
                        <div class="service-icon">
                            <img src="~/assets/images/service3.png" alt="" />
                        </div>
                        <h5 class="text-info m-top-50">Social Media Marketing</h5>
                        <p class="text-black m-top-20">
                            Boost brand awareness and reach your
                            customers on a human level.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="service-item m-top-65">
                        <div class="service-icon">
                            <img src="~/assets/images/service4.png" alt="" />
                        </div>
                        <h5 class="text-info m-top-50">Web Design & Development</h5>
                        <p class="text-black m-top-20">Our designers and developers will create an attractive, SEO-friendly & fully functional.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="service-item m-top-65">
                        <div class="service-icon">
                            <img src="~/assets/images/service5.png" alt="" />
                        </div>
                        <h5 class="text-info m-top-50">eCommerce Solutions</h5>
                        <p class="text-black m-top-20">
                            With our 17+ years of experience,
                            our SEO services will get your site ranking.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="service-item m-top-65">
                        <div class="service-icon">
                            <img src="~/assets/images/service6.png" alt="" />
                        </div>
                        <h5 class="text-info m-top-50">Inbound Marketing</h5>
                        <p class="text-black m-top-20">
                            With our ecommerce solutions,
                            you'll provide an enjoyable, seamless.
                        </p>
                    </div>
                </div>
                <div class="btns-area text-center p-top-30">
                    <a href="" class="btn btn-primary btn-round">Free Seo Analysis</a>
                </div>
            </div>
        </div><!-- End off row -->
    </div><!-- End off container -->
</section><!-- End off Service Section -->
<!--Happy Customer section-->
<section id="customer" class="customer sections4 bg-grey">
    <div class="container">
        <div class="row">
            <div class="main-customer">
                <div class="col-md-3 col-sm-6">
                    <div class="customer-item">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="customer-icon">
                                    <img src="~/assets/images/shapes.png" alt="" />
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="customer-content m-top-15">
                                    <h2 class="statistic-counter">7654</h2>
                                    <p>Happy Customers</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- End off col-md-3 -->
                <div class="col-md-3 col-sm-6">
                    <div class="customer-item xs-m-top-50">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="customer-icon">
                                    <img src="~/assets/images/draw.png" alt="" />
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="customer-content m-top-15">
                                    <h2 class="statistic-counter">753</h2>
                                    <p>Successful Projects</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- End off col-md-3 -->
                <div class="col-md-3 col-sm-6">
                    <div class="customer-item sm-m-top-50">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="customer-icon">
                                    <img src="~/assets/images/web.png" alt="" />
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="customer-content m-top-15">
                                    <h2><span class="statistic-counter">25</span> <span>%</span></h2>
                                    <p>Average Conversion</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- End off col-md-3 -->
                <div class="col-md-3 col-sm-6">
                    <div class="customer-item sm-m-top-50">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="customer-icon">
                                    <img src="~/assets/images/cup.png" alt="" />
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="customer-content m-top-15">
                                    <h2 class="statistic-counter">100</h2>
                                    <p>Guaranteed Results</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- End off col-md-3 -->
            </div>
        </div><!-- End off row -->
    </div><!-- End off container -->
</section><!-- End off customer section-->
<!-- Service Section -->
<section id="service-hv2" class="service sections3">
    <div class="container">
        <div class="row">
            <div class="main-service-area-homev2 text-center equalcol">
                <div class="divider-hr hidden-sm hidden-xs"></div>
                <div class="divider-vr1 hidden-sm hidden-xs"></div>
                <div class="divider-vr2 hidden-sm hidden-xs"></div>
                <div class="col-md-4 col-sm-6 no-padding">
                    <div class="service-item-hv2">
                        <div class="service-icon">
                            <img src="~/assets/images/hv2-service-01.png" alt="" />
                        </div>
                        <h5 class="text-primary m-top-30">Search Engine Optimization</h5>
                        <p class="text-black m-top-20">With our 17+ years of experience, our SEO services will get your site ranking.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 no-padding">
                    <div class="service-item-hv2">
                        <div class="service-icon">
                            <img src="~/assets/images/hv2-service-02.png" alt="" />
                        </div>
                        <h5 class="text-primary m-top-30">Content Marketing</h5>
                        <p class="text-black m-top-20">
                            From blogs and social posts to
                            infographics videos we create and promote quality.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 no-padding">
                    <div class="service-item-hv2">
                        <div class="service-icon">
                            <img src="~/assets/images/hv2-service-03.png" alt="" />
                        </div>
                        <h5 class="text-primary m-top-30">Social Media Marketing</h5>
                        <p class="text-black m-top-20">
                            Boost brand awareness and reach your
                            customers on a human level.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 no-padding">
                    <div class="service-item-hv2">
                        <div class="service-icon">
                            <img src="~/assets/images/hv2-service-04.png" alt="" />
                        </div>
                        <h5 class="text-primary m-top-30">Web Design & Development</h5>
                        <p class="text-black m-top-20">Our designers and developers will create an attractive, SEO-friendly & fully functional.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 no-padding">
                    <div class="service-item-hv2">
                        <div class="service-icon">
                            <img src="~/assets/images/hv2-service-05.png" alt="" />
                        </div>
                        <h5 class="text-primary m-top-30">eCommerce Solutions</h5>
                        <p class="text-black m-top-20">
                            With our 17+ years of experience,
                            our SEO services will get your site ranking.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 no-padding">
                    <div class="service-item-hv2">
                        <div class="service-icon">
                            <img src="~/assets/images/hv2-service-06.png" alt="" />
                        </div>
                        <h5 class="text-primary m-top-30">Inbound Marketing</h5>
                        <p class="text-black m-top-20">
                            With our ecommerce solutions,
                            you'll provide an enjoyable, seamless.
                        </p>
                    </div>
                </div>
            </div>
        </div><!-- End off row -->
    </div><!-- End off container -->
</section><!-- End off Service Section -->
<!--The leading Section-->
<div id="leading-service" class="sections3 bg-black">
    <div class="container">
        <div class="row">
            <div class="main-leading-service">
                <div class="col-md-6">
                    <div class="leading-content m-top-80">
                        <h2 class="text-white">
                            Whatever your goals look like, we’ll put our
                            experience to work to reach
                        </h2>
                        <p class="m-top-30 text-primary">
                            Searching tirelessly for an agency capable of attracting qualified leads and
                            nurturing those leads into paying customers of your business?
                        </p>

                        <a href="" class="btn btn-primary btn-round m-top-20">Get Free Consultation</a>
                    </div>
                </div>
                <div class="col-md-5 col-md-offset-1">
                    <div class="leading-img sm-m-top-50">
                        <img src="~/assets/images/allies-img-left.png" alt="" />
                    </div>
                </div>
            </div>
        </div><!-- End off row-->
    </div><!-- End off container -->
</div><!-- End off leading section-->
<!--Newest Blog post section-->
<section id="newest-blog" class="newest-blog sections">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="head-title text-center">
                    <h2 class="text-black">Newest Blog Posts</h2>
                    <p class="text-black">Check our blog. You won’t get bored.</p>
                </div>
            </div>
            <div class="main-newest-blog m-top-50">
                <div class="col-md-4">
                    <div class="newest-blog-item border">
                        <h4 class="text-black">Which Page Markup + Tags Still Matter for SEO?</h4>
                        <div class="newest-tips-date m-top-20">
                            <div class="newest-tips-btn pull-left">
                                <a href="" class="btn-small btn-round">Seo Tips</a>
                            </div>
                            <div class="newest-tips-date-time pull-right">
                                <span><i class="icon icon-interface-1"></i>32</span>
                                <span><i class="icon icon-calendar"></i>2-10-2017</span>
                            </div>
                        </div>
                        <div class="divider"></div>
                        <p class="text-black">
                            Should you focus on H1s and H2s,
                            or should schema.org demand all your on-page ...
                        </p>
                        <div class="newest-author">
                            <div class="newest-author-img pull-left">
                                <img class="img-circle" src="~/assets/images/newest-author-01.jpg" alt="" />
                            </div>
                            <p class="text-black">by <span class="text-primary">Damion Carmenson</span></p>
                        </div>
                    </div>
                </div><!-- End off col-md-4 -->
                <div class="col-md-4">
                    <div class="newest-blog-item border">
                        <h4 class="text-black">5 Takeaways from Earning Links in 130 Countries</h4>
                        <div class="newest-tips-date m-top-20">
                            <div class="newest-tips-btn pull-left">
                                <a href="" class="btn-small btn-round">Random</a>
                            </div>
                            <div class="newest-tips-date-time pull-right">
                                <span><i class="icon icon-interface-1"></i>19</span>
                                <span><i class="icon icon-calendar"></i>1-10-2017</span>
                            </div>
                        </div>
                        <div class="divider"></div>
                        <p class="text-black">
                            What can you do if link building opportunities
                            are scarce in your country? Kerry Jones ...
                        </p>
                        <div class="newest-author">
                            <div class="newest-author-img pull-left">
                                <img class="img-circle" src="~/assets/images/newest-author-02.jpg" alt="" />
                            </div>
                            <p class="text-black">by <span class="text-primary">Janice James</span></p>
                        </div>
                    </div>
                </div><!-- End off col-md-4 -->
                <div class="col-md-4">
                    <div class="newest-blog-item border">
                        <h4 class="text-black">Which Page Markup + Tags Still Matter for SEO?</h4>
                        <div class="newest-tips-date m-top-20">
                            <div class="newest-tips-btn pull-left">
                                <a href="" class="btn-small btn-round">Suitcase</a>
                            </div>
                            <div class="newest-tips-date-time pull-right">
                                <span><i class="icon icon-interface-1"></i>27</span>
                                <span><i class="icon icon-calendar"></i>31-9-2017</span>
                            </div>
                        </div>
                        <div class="divider"></div>
                        <p class="text-black">
                            Should you focus on H1s and H2s,
                            or should schema.org demand all your on-page ...
                        </p>
                        <div class="newest-author">
                            <div class="newest-author-img pull-left">
                                <img class="img-circle" src="~/assets/images/newest-author-03.jpg" alt="" />
                            </div>
                            <p class="text-black">by <span class="text-primary">Dennis Kentsons</span></p>
                        </div>
                    </div>
                </div><!-- End off col-md-4 -->
                <div class="col-md-4">
                    <div class="newest-blog-item border">
                        <h4 class="text-black">Which Page Markup + Tags Still Matter for SEO?</h4>
                        <div class="newest-tips-date m-top-20">
                            <div class="newest-tips-btn pull-left">
                                <a href="" class="btn-small btn-round">Suitcase</a>
                            </div>
                            <div class="newest-tips-date-time pull-right">
                                <span><i class="icon icon-interface-1"></i>27</span>
                                <span><i class="icon icon-calendar"></i>31-9-2017</span>
                            </div>
                        </div>
                        <div class="divider"></div>
                        <p class="text-black">
                            Should you focus on H1s and H2s,
                            or should schema.org demand all your on-page ...
                        </p>
                        <div class="newest-author">
                            <div class="newest-author-img pull-left">
                                <img class="img-circle" src="~/assets/images/newest-author-03.jpg" alt="" />
                            </div>
                            <p class="text-black">by <span class="text-primary">Dennis Kentsons</span></p>
                        </div>
                    </div>
                </div><!-- End off col-md-4 -->
            </div>
        </div> <!-- End off row -->
    </div> <!-- End off container -->
</section> <!-- End off Newest Blog post section-->
<!--Brand section-->
<section id="brand" class="bg-grey">
    <div class="container">
        <div class="row">
            <div class="main-brandv1">
                <div class="col-md-2">
                    <div class="brand-itemv1">
                        <a href=""><img src="~/assets/images/brand-01.png" alt="" /></a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="brand-itemv1">
                        <a href=""><img src="~/assets/images/brand-06.png" alt="" /></a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="brand-itemv1">
                        <a href=""><img src="~/assets/images/brand-03.png" alt="" /></a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="brand-itemv1">
                        <a href=""><img src="~/assets/images/brand-01.png" alt="" /></a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="brand-itemv1">
                        <a href=""><img src="~/assets/images/brand-05.png" alt="" /></a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="brand-itemv1">
                        <a href=""><img src="~/assets/images/brand-06.png" alt="" /></a>
                    </div>
                </div>
            </div>
        </div><!-- End off row -->
    </div><!-- End off container -->
</section><!-- End off brand section-->
<!--News Letter section-->
<section id="newsletterv1" class="newsletterv1 bg-primary sections4">
    <div class="container">
        <div class="row">
            <div class="main-newsletterv1">
                <div class="col-md-6">
                    <div class="newsletterv1-content">
                        <h2 class="text-white">Our Newsletter</h2>
                        <p class="m-top-30">Subscribe to our newsletter and be the first who receives our latest news:</p>
                        <form class="form-inline" id="newsletter-form" action="">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Your Email Address">
                            </div>
                            <button type="submit">Send invitation</button>
                        </form>
                    </div>
                </div><!-- End off col-md-6-->
                <div class="col-md-5 col-md-offset-1 sm-m-top-50">
                    <div class="newsletterv1-feature">
                        <img src="~/assets/images/newsletterv1-img.png" alt="" />
                    </div>
                </div><!-- End off col-md-6-->
            </div>
        </div><!-- End off row -->
    </div><!-- End off container -->
</section><!-- End off newsletter v1 section -->

