@{
    ViewBag.Title = "首页";
}

<section id="homev1" class="homev1 home-one">
    <div id="bootstrap-touch-slider" class="carousel bs-slider fade  control-round indicators-line kenburns_zoomInOut" data-ride="carousel" data-interval="10000">
        <!-- Wrapper For Slides -->
        <div class="carousel-inner" role="listbox">
            <!-- Third Slide -->
            <div class="item active">
                <!-- Slide Background -->
                <img src="~/assets/images/slide-bg-01.jpg" alt="SeoPress Slider" />
                <div class="bs-slider-overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="slide-text slide_style_center">
                                <h1 class="text-white" data-animation="animated zoomInRight">一站式教育解决方案</h1>
                                <p class="text-white m-top-10" data-animation="animated fadeInLeft">更个性的学习方式，全面提升学习力！</p>
                                <a class="btn btn-primary btn-round m-top-30" data-animation="animated fadeInLeft" href="" target="_blank">咨询详情</a>
                                <a class="btn btn-default btn-round m-top-30" data-animation="animated fadeInRight" href="" target="_blank">下载使用</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Slide -->
            <!-- Second Slide -->
            <div class="item">
                <img src="~/assets/images/slide-bg-02.jpg" alt="SeoPress Slider" />
                <div class="bs-slider-overlay"></div>
                <div class="container">
                    <div class="row">
                        <!-- Slide Text Layer -->
                        <div class="col-md-6">
                            <div class="slide-text slide_style_left">
                                <h1 class="text-white" data-animation="animated fadeInRight">不用老师高效学习</h1>
                                <p class="text-white m-top-10" data-animation="animated zoomInLeft">一站式的教育解决方案，覆盖学生学习的所有环节</p>
                                <a class="btn btn-default btn-round m-top-30" data-animation="animated fadeInRight" href="" target="_blank">咨询详情</a>
                                <a class="btn btn-primary btn-round m-top-30" data-animation="animated fadeInLeft" href="" target="_blank">下载使用</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Slide -->
            <!-- Third Slide -->
            <div class="item">
                <img src="~/assets/images/slide-bg-03.jpg" alt="SeoPress Slider" />
                <div class="bs-slider-overlay"></div>
                <div class="container">
                    <div class="row">
                        <!-- Slide Text Layer -->
                        <div class="col-md-6">
                            <div class="slide-text slide_style_left">
                                <h1 class="text-white" data-animation="animated fadeInDown">完整课程体系</h1>
                                <p class="text-white m-top-10" data-animation="animated fadeInLeft">专业的团队、强大的题库、个性化定制每个学生的学习规划。</p>
                                <a class="btn btn-primary btn-round m-top-30" data-animation="animated fadeInLeft" href="" target="_blank">咨询详情</a>
                                <a class="btn btn-default btn-round m-top-30" data-animation="animated fadeInRight" href="" target="_blank">下载使用</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Fourth Slide -->
            <div class="item">
                <img src="~/assets/images/slide-bg-04.jpg" alt="SeoPress Slider" />
                <div class="bs-slider-overlay"></div>
                <div class="container">
                    <div class="row">
                        <!-- Slide Text Layer -->
                        <div class="col-md-6">
                            <div class="slide-text slide_style_left">
                                <h1 class="text-white" data-animation="animated fadeInLeft">实时互动家长更放心</h1>
                                <p class="text-white m-top-10" data-animation="animated fadeInRight">实时监督以及教学管理。真正做到专业与技术的完美融合！</p>
                                <a class="btn btn-primary btn-round m-top-30" data-animation="animated fadeInLeft" href="" target="_blank">咨询详情</a>
                                <a class="btn btn-default btn-round m-top-30" data-animation="animated fadeInRight" href="" target="_blank">下载使用</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Slide -->
        </div>
        <!-- End of Wrapper For Slides -->




        <!-- carousel indicators -->
        <div class="carousel-indicators text-center">
            <div data-target="#bootstrap-touch-slider" data-slide-to="0" class="active indicatior-item text-center bg-black">
                <div class="slid-number">1</div>
                <div class="sp-thumbnail-title text-white m-top-10">
                    <h4>智能课堂</h4>
                </div>
                <div class="hidden-sm carousel-indicators-description bg-info text-white m-top-20">
                    <p class="bg-info">利用人工智能和大数据的优势，实现比传统课堂更高效、更吸引学生的教学。</p>
                </div>
            </div>
            <div data-target="#bootstrap-touch-slider" data-slide-to="1" class="indicatior-item text-center bg-black">
                <div class="slid-number">2</div>
                <div class="sp-thumbnail-title text-white m-top-10">
                    <h4>开启教育新篇章</h4>
                </div>
                <div class="hidden-sm carousel-indicators-description bg-info text-white m-top-20">
                    <p>目前在线教育种类繁多，定位差异很大。无法从根本解决问题。</p>
                </div>
            </div>
            <div data-target="#bootstrap-touch-slider" data-slide-to="2" class="indicatior-item text-center bg-black">
                <div class="slid-number">3</div>
                <div class="sp-thumbnail-title text-white m-top-10">
                    <h4>个性化学习平台</h4>
                </div>
                <div class="hidden-sm carousel-indicators-description bg-info text-white m-top-20">
                    <p>
                        100%与学校考试接轨，将学校知识点更加细致的分类，一切以考试提分为目标。
                    </p>
                </div>
            </div>
            <div data-target="#bootstrap-touch-slider" data-slide-to="3" class="indicatior-item text-center bg-black">
                <div class="slid-number">4</div>
                <div class="sp-thumbnail-title text-white m-top-10">
                    <h4>全程记录学习过程</h4>
                </div>
                <div class="hidden-sm carousel-indicators-description bg-info text-white m-top-20">
                    <p>家长不仅有学习概括的短信通知, 也可使用监督工具实时查看学习进度。</p>
                </div>
            </div>
        </div>
    </div>
    <!-- End  bootstrap-touch-slider Slider -->
</section>
<!-- End off homev1 section -->




<!-- Service Section -->
<section id="service" class="service sections" style="padding-top:80px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="head-title text-center">
                    <h2 class="text-black">为什么叫做智能课堂？</h2>
                    <p class="m-top-10 text-black">培洛利用人工智能和大数据的优势, 实现比传统课堂更高效、更吸引学生的教学。让学生能随时随地想学就学。</p>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="main-studies m-top-50">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="studies-item">
                            <div class="studies-feature border">
                                <img class="img-rounded" src="~/assets/images/1.jpg" alt="上课教学" />
                            </div>
                            <div class="studies-conten m-top-30">
                                <h4><a href="">上课教学</a></h4>
                                <p class="m-top-10">比传统课堂更省时，省力，随时随地想学就学。还可以学新课哦。</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="studies-item xs-m-top-35">
                            <div class="studies-feature border">
                                <img class="img-rounded" src="~/assets/images/2.jpg" alt="课后练习" />
                            </div>
                            <div class="studies-conten m-top-30">
                                <h4><a href="">课后练习</a></h4>
                                <p class="m-top-10">培洛的题库是100%与学校考试接轨，每次练习的题目，考试也许就会碰到哦。</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="studies-item sm-m-top-35">
                            <div class="studies-feature border">
                                <img class="img-rounded" src="~/assets/images/3.jpg" alt="作业批改" />
                            </div>
                            <div class="studies-conten m-top-30">
                                <h4><a href="">作业批改</a></h4>
                                <p class="m-top-10">学习做题，老师对每道题进行批改，遇到个体问题，及时纠正。</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="studies-item m-top-35">
                            <div class="studies-feature border">
                                <img class="img-rounded" src="~/assets/images/4.jpg" alt="考试测评" />
                            </div>
                            <div class="studies-conten m-top-30">
                                <h4><a href="">考试测评</a></h4>
                                <p class="m-top-10">摆脱纸质试卷，做多少，多少分，哪方面薄弱，老师一键查看。</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="studies-item m-top-35">
                            <div class="studies-feature border">
                                <img class="img-rounded" src="~/assets/images/5.jpg" alt="学情分析" />
                            </div>
                            <div class="studies-conten m-top-30">
                                <h4><a href="">学情分析</a></h4>
                                <p class="m-top-10">摆脱档案盒，每一次学习都会记录在云端，自动生成分析。</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="studies-item m-top-35">
                            <div class="studies-feature border">
                                <img class="img-rounded" src="~/assets/images/6.jpg" alt="错题巩固" />
                            </div>
                            <div class="studies-conten m-top-30">
                                <h4><a href="">巩固复习</a></h4>
                                <p class="m-top-10">系统记录错题，并依据遗忘曲线主动推送练习。跟错题本说拜拜。</p>
                            </div>
                        </div>
                    </div>
                </div><!-- End off row -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="studies-btns text-center m-top-50">
                            <a href="" class="btn btn-primary btn-round">咨询详情</a>
                        </div>
                    </div>
                </div>
                <!-- End off row -->
            </div>
            <!-- End off main studies -->
        </div>
        <!-- End off col-md-12 -->
    </div>
    <!-- End off container -->
</section>
<!-- End off Service Section -->



<!--The leading Section-->
<section id="leading" class="leading bg-primary sections2">
    <div class="container">
        <div class="row">
            <div class="main-leading">
                <div class="col-md-6">
                    <div class="leading-content">
                        <div class="head-title">
                            <h2 class="text-white">
                                Sit back, relax and learn from
                                the experts.
                            </h2>
                            <p class="m-top-30 text-white">
                                According to TopTenReviews in 2017, as well as many other 3rd party review
                                sites and publications we always comes out on top.
                            </p>
                            <div class="separator2 hv2"><span></span><span></span><span></span></div>
                        </div>
                        <p class="m-top-40">
                            We’re a leading Internet Digital Marketing Company who offers SEO,
                            Paid Search, Social Media, ConsultingLead Generation, Brand Reputation
                            Management, and Web Design Services.
                        </p>
                        <a href="" class="btn btn-default btn-round m-top-20">Our Team</a>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="leading-img sm-m-top-50">
                        <img src="~/assets/images/leading-img.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
        <!-- End off row-->
    </div>
    <!-- End off container -->
</section>
<!-- End off leading section-->



<!--Allies Section-->
<section id="allies" class="allies sections">
    <div class="container">
        <div class="row">
            <div class="main-allies">
                <div class="col-md-5">
                    <div class="allies-img">
                        <img src="~/assets/images/allies-img-left.png" alt="" />
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="allies-content sm-m-top-50">
                        <div class="head-title">
                            <h2 class="text-black">
                                Our clients are definitely our
                                greatest allies.
                            </h2>
                            <h5 class="text-black m-top-30">
                                “We’ve been extremely pleased with the progress SeoPress
                                has made in helping us gain an online presence.”
                            </h5>
                            <div class="separator2"><span></span><span></span><span></span></div>
                        </div>
                        <ul class="text-black m-top-40">
                            <li><i class="fa fa-check"></i> Your business is unique and has unique goals</li>
                            <li><i class="fa fa-check"></i> We carry a vast arsenal of digital marketing solutions</li>
                            <li><i class="fa fa-check"></i> Is it quality website traffic you seek?</li>
                        </ul>
                        <a href="" class="btn btn-primary btn-round m-top-30">Portfolio</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End off row -->
    </div>
    <!--End off container -->
</section>
<!-- End off Allies Section-->




<!--Business section-->
<section id="business" class="business bg-black p-top-100 p-bottom-100">
    <div class="container">
        <div class="row">
            <div class="main-business">
                <div class="col-md-6">
                    <div class="business-content m-top-40">
                        <h2 class="text-white">
                            Whatever your goals look
                            like, we’ll put our experience
                            to work to reach
                        </h2>
                        <p class="m-top-30 text-primary">
                            Searching tirelessly for an agency capable of attracting qualified leads and
                            nurturing those leads into paying customers of your business?
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="business-video sm-m-top-50">
                        <img src="~/assets/images/business-video-img.png" alt="" />
                        <div class="business-video-icon">
                            <a href="" class="video-link"><span class="icon icon-interface"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Pricing section-->
<section id="pricing" class="pricing sections">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="head-title text-center">
                    <h2 class="text-black">Check Our Pricing Plans</h2>
                    <p class="text-black m-top-10">
                        We offer our clients the best pricing
                        plans suitable for all their needs. What’s yours?
                    </p>
                </div>
            </div>
            <div class="main-pricing text-center">
                <div class="col-md-3 col-sm-6">
                    <div class="pricing-item border">
                        <div class="pricing-icon">
                            <img src="~/assets/images/transport.png" alt="" />
                        </div>
                        <div class="pricing-title m-top-30">
                            <h4 class="text-black">Plan Letter A</h4>
                            <div class="separator"></div>
                        </div>
                        <ul class="pricing-body m-top-20">
                            <li><strong>2</strong> Analytics Campaigns</li>
                            <li><strong>100</strong> Keywords</li>
                            <li><strong>25</strong>  Branded Reports</li>
                            <li><strong>50,000</strong> Crawled Pages</li>
                            <li><strong>10</strong> Social Accounts</li>
                        </ul>
                        <div class="price text-info">
                            <p><sup>$</sup> 23.99</p>
                        </div>
                        <a href="" class="btn btn-primary btn-round m-top-20">Purchase</a>
                    </div>
                </div>
                <!-- End off col-md-3-->
                <div class="col-md-3 col-sm-6">
                    <div class="pricing-item border xs-m-top-80">
                        <div class="pricing-icon">
                            <img src="~/assets/images/megaphone.png" alt="" />
                        </div>
                        <div class="pricing-title m-top-30">
                            <h4 class="text-black">Plan Letter B</h4>
                            <div class="separator"></div>
                        </div>
                        <ul class="pricing-body m-top-20">
                            <li><strong>5</strong> Analytics Campaigns</li>
                            <li><strong>200</strong> Keywords</li>
                            <li><strong>30</strong>  Branded Reports</li>
                            <li><strong>75,000</strong> Crawled Pages</li>
                            <li><strong>15</strong> Social Accounts</li>
                        </ul>
                        <div class="price text-info">
                            <p><sup>$</sup> 35.99</p>
                        </div>
                        <a href="" class="btn btn-primary btn-round m-top-20">Purchase</a>
                    </div>
                </div>
                <!-- End off col-md-3-->
                <div class="col-md-3 col-sm-6">
                    <div class="pricing-item border sm-m-top-80">
                        <div class="pricing-icon">
                            <img src="~/assets/images/graphic.png" alt="" />
                        </div>
                        <div class="pricing-title m-top-30">
                            <h4 class="text-black">Plan Letter C</h4>
                            <div class="separator"></div>
                        </div>
                        <ul class="pricing-body m-top-20">
                            <li><strong>10</strong> Analytics Campaigns</li>
                            <li><strong>300</strong> Keywords</li>
                            <li><strong>40</strong>  Branded Reports</li>
                            <li><strong>100,000</strong> Crawled Pages</li>
                            <li><strong>20</strong> Social Accounts</li>
                        </ul>
                        <div class="price text-info">
                            <p><sup>$</sup> 43.99</p>
                        </div>
                        <a href="" class="btn btn-primary btn-round m-top-20">Purchase</a>
                    </div>
                </div>
                <!-- End off col-md-3-->
                <div class="col-md-3 col-sm-6">
                    <div class="pricing-item border sm-m-top-80">
                        <div class="pricing-icon">
                            <img src="~/assets/images/tool.png" alt="" />
                        </div>
                        <div class="pricing-title m-top-30">
                            <h4 class="text-black">Plan Letter D</h4>
                            <div class="separator"></div>
                        </div>
                        <ul class="pricing-body m-top-20">
                            <li><strong>15</strong> Analytics Campaigns</li>
                            <li><strong>400</strong> Keywords</li>
                            <li><strong>50</strong>  Branded Reports</li>
                            <li><strong>150,000</strong> Crawled Pages</li>
                            <li><strong>25</strong> Social Accounts</li>
                        </ul>
                        <div class="price text-info">
                            <p><sup>$</sup> 59.99</p>
                        </div>
                        <a href="" class="btn btn-primary btn-round m-top-20">Purchase</a>
                    </div>
                </div>
                <!-- End off col-md-3-->
            </div>
        </div>
        <!-- End off row -->
    </div>
    <!-- End off container -->
</section>
<!-- End off pricing section -->




<!--Happy Customer section-->
<section id="customer" class="customer sections4 bg-grey">
    <div class="container">
        <div class="row">
            <div class="main-customer">
                <div class="col-md-3 col-sm-6">
                    <div class="customer-item">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="customer-icon">
                                    <img src="~/assets/images/shapes.png" alt="" />
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="customer-content m-top-15">
                                    <h2 class="statistic-counter">7654</h2>
                                    <p>Happy Customers</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End off col-md-3 -->
                <div class="col-md-3 col-sm-6">
                    <div class="customer-item xs-m-top-50">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="customer-icon">
                                    <img src="~/assets/images/draw.png" alt="" />
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="customer-content m-top-15">
                                    <h2 class="statistic-counter">753</h2>
                                    <p>Successful Projects</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End off col-md-3 -->
                <div class="col-md-3 col-sm-6">
                    <div class="customer-item sm-m-top-50">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="customer-icon">
                                    <img src="~/assets/images/web.png" alt="" />
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="customer-content m-top-15">
                                    <h2><span class="statistic-counter">25</span> <span>%</span></h2>
                                    <p>Average Conversion</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End off col-md-3 -->
                <div class="col-md-3 col-sm-6">
                    <div class="customer-item sm-m-top-50">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="customer-icon">
                                    <img src="~/assets/images/cup.png" alt="" />
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="customer-content m-top-15">
                                    <h2 class="statistic-counter">100</h2>
                                    <p>Guaranteed Results</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End off col-md-3 -->
            </div>
        </div>
        <!-- End off row -->
    </div>
    <!-- End off container -->
</section>
<!-- End off customer section-->



<!--Case Studies section-->
<section id="studies" class="studies sections">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="head-title text-center">
                    <h2 class="text-black">Latest Case Studies</h2>
                    <p class="text-black m-top-10">
                        How well do you rank against the competition? We grade your site based on 50+ criteria metrics.
                    </p>
                </div>
            </div>

            <div class="col-md-12">
                <div class="main-studies m-top-50">
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <div class="studies-item">
                                <div class="studies-feature border">
                                    <img class="img-rounded" src="~/assets/images/studies-img-01.jpg" alt="" />
                                    <div class="studies-overlay img-rounded"><a href=""><span class="icon icon-arrows-2 hvr-hang"></span></a></div>
                                    <div class="custom-hover"></div>
                                </div>
                                <div class="studies-conten m-top-30">
                                    <h4><a href="">Acme Corporation</a></h4>
                                    <p class="m-top-10">Objective: Build a larger twitter community</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="studies-item xs-m-top-35">
                                <div class="studies-feature border">
                                    <img class="img-rounded" src="~/assets/images/studies-img-02.jpg" alt="" />
                                    <div class="studies-overlay img-rounded"><a href=""><span class="icon icon-arrows-2 hvr-hang"></span></a></div>
                                </div>
                                <div class="studies-conten m-top-30">
                                    <h4><a href="">Soylent Corp </a></h4>
                                    <p class="m-top-10">Objective: Make tone & branding consistency</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="studies-item sm-m-top-35">
                                <div class="studies-feature border">
                                    <img class="img-rounded" src="~/assets/images/studies-img-03.jpg" alt="" />
                                    <div class="studies-overlay img-rounded"><a href=""><span class="icon icon-arrows-2 hvr-hang"></span></a></div>
                                </div>
                                <div class="studies-conten m-top-30">
                                    <h4><a href="">Umbrella Corporation</a></h4>
                                    <p class="m-top-10">Objective: Eliminate the residue of black-hat methods</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="studies-item m-top-35">
                                <div class="studies-feature border">
                                    <img class="img-rounded" src="~/assets/images/studies-img-04.jpg" alt="" />
                                    <div class="studies-overlay img-rounded"><a href=""><span class="icon icon-arrows-2 hvr-hang"></span></a></div>
                                </div>
                                <div class="studies-conten m-top-30">
                                    <h4><a href="">Initech</a></h4>
                                    <p class="m-top-10">Objective: Improve site load speed & functionality</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="studies-item m-top-35">
                                <div class="studies-feature border">
                                    <img class="img-rounded" src="~/assets/images/studies-img-05.jpg" alt="" />
                                    <div class="studies-overlay img-rounded">
                                        <a href="">
                                            <span class="icon icon-arrows-2 hvr-hang"></span>
                                        </a>
                                    </div>
                                </div>
                                <div class="studies-conten m-top-30">
                                    <h4><a href="">Vehement Capital Partners </a></h4>
                                    <p class="m-top-10">Objective: Increase nationwide sales</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="studies-item m-top-35">
                                <div class="studies-feature border">
                                    <img class="img-rounded" src="~/assets/images/studies-img-06.jpg" alt="" />
                                    <div class="studies-overlay img-rounded">
                                        <a href=""><span class="icon icon-arrows-2 hvr-hang"></span></a>
                                    </div>
                                </div>
                                <div class="studies-conten m-top-30">
                                    <h4><a href="">Massive Dynamic</a></h4>
                                    <p class="m-top-10">Objective: Increase qualified traffic</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End off row -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="studies-btns text-center m-top-50">
                                <a href="" class="btn btn-primary btn-round">Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- End off row -->
                </div>
                <!-- End off main studies -->
            </div>
            <!-- End off col-md-12 -->
        </div>
        <!-- End off row -->
    </div>
    <!-- End off container -->
</section>
<!-- End off studies section-->



<!--Clients section-->
<section id="clients" class="clients">
    <div class="transit-01">
        <img src="~/assets/images/support-img-01.png" alt="" />
    </div>
    <div class="transit-02">
        <img src="~/assets/images/calenter-02.png" alt="" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="client-love sections3">
                    <h2 class="text-white">
                        See Why Our Clients
                        Love <span class="text-info">SeoPress</span>
                    </h2>
                    <p class="text-muted m-top-30">
                        Partner with us today to see how search experience optimization
                        can revolutionize the way your website is found online
                    </p>
                    <a href="" class="btn btn-primary btn-round m-top-30">Read More</a>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-1">
                <div class="client-testimonial text-center m-top-100">
                    <div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <div class="client-img">
                                    <img class="img-circle" src="~/assets/images/client-img-01.jpg" alt="" />
                                </div>
                                <div class="client-test-content">
                                    <div class="reviews_item_icon pull-left text-left">“</div>
                                    <p class="m-top-30 text-muted">
                                        We’re seeing considerable improvements in our page authority,
                                        thanks to Pitstop Media’s link building efforts. I highly recommend to any organization who is serious about doing SEO right".
                                    </p>
                                    <div class="reviews_item_icon1 pull-right text-right">“</div>
                                </div>
                                <h6 class="text-white">- Jessie Cameron</h6>
                            </div>
                            <div class="item">
                                <div class="client-img">
                                    <img class="img-circle" src="~/assets/images/client-img-01.jpg" alt="" />
                                </div>
                                <div class="client-test-content">
                                    <div class="reviews_item_icon pull-left text-left">“</div>
                                    <p class="m-top-30 text-muted">
                                        We’re seeing considerable improvements in our page authority,
                                        thanks to Pitstop Media’s link building efforts. I highly recommend to any organization who is serious about doing SEO right".
                                    </p>
                                    <div class="reviews_item_icon1 pull-right text-right">“</div>
                                </div>
                                <h6 class="text-white">- Jessie Cameron</h6>
                            </div>
                            <div class="item">
                                <div class="client-img">
                                    <img class="img-circle" src="~/assets/images/client-img-01.jpg" alt="" />
                                </div>
                                <div class="client-test-content">
                                    <div class="reviews_item_icon pull-left text-left">“</div>
                                    <p class="m-top-30 text-muted">
                                        We’re seeing considerable improvements in our page authority,
                                        thanks to Pitstop Media’s link building efforts. I highly recommend to any organization who is serious about doing SEO right".
                                    </p>
                                    <div class="reviews_item_icon1 pull-right text-right">“</div>
                                </div>
                                <h6 class="text-white">- Jessie Cameron</h6>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- End off row -->
    </div>
    <!-- End off container -->
</section>
<!-- End off clients section -->



<!--Newest Blog post section-->
<section id="newest-blog" class="newest-blog sections">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="head-title text-center">
                    <h2 class="text-black">Newest Blog Posts</h2>
                    <p class="text-black m-top-10">Check our blog. You won’t get bored.</p>
                </div>
            </div>
            <div class="main-newest-blog m-top-50">
                <div class="col-md-4">
                    <div class="newest-blog-item border">
                        <h4 class="text-black">Which Page Markup + Tags Still Matter for SEO?</h4>
                        <div class="newest-tips-date m-top-20">
                            <div class="newest-tips-btn pull-left">
                                <a href="" class="btn-small btn-round">Seo Tips</a>
                            </div>
                            <div class="newest-tips-date-time pull-right">
                                <span><i class="icon icon-interface-1"></i>32</span>
                                <span><i class="icon icon-calendar"></i>2-10-2017</span>
                            </div>
                        </div>
                        <div class="divider"></div>
                        <p class="text-black">
                            Should you focus on H1s and H2s,
                            or should schema.org demand all your on-page ...
                        </p>
                        <div class="newest-author">
                            <div class="newest-author-img pull-left">
                                <img class="img-circle" src="~/assets/images/newest-author-01.jpg" alt="" />
                            </div>
                            <p class="text-black">by <span class="text-primary">Damion Carmenson</span></p>
                        </div>
                    </div>
                </div><!-- End off col-md-4 -->
                <div class="col-md-4">
                    <div class="newest-blog-item border">
                        <h4 class="text-black">5 Takeaways from Earning Links in 130 Countries</h4>
                        <div class="newest-tips-date m-top-20">
                            <div class="newest-tips-btn pull-left">
                                <a href="" class="btn-small btn-round">Random</a>
                            </div>
                            <div class="newest-tips-date-time pull-right">
                                <span><i class="icon icon-interface-1"></i>19</span>
                                <span><i class="icon icon-calendar"></i>1-10-2017</span>
                            </div>
                        </div>
                        <div class="divider"></div>
                        <p class="text-black">
                            What can you do if link building opportunities
                            are scarce in your country? Kerry Jones ...
                        </p>
                        <div class="newest-author">
                            <div class="newest-author-img pull-left">
                                <img class="img-circle" src="~/assets/images/newest-author-02.jpg" alt="" />
                            </div>
                            <p class="text-black">by <span class="text-primary">Janice James</span></p>
                        </div>
                    </div>
                </div><!-- End off col-md-4 -->
                <div class="col-md-4">
                    <div class="newest-blog-item border">
                        <h4 class="text-black">Which Page Markup + Tags Still Matter for SEO?</h4>
                        <div class="newest-tips-date m-top-20">
                            <div class="newest-tips-btn pull-left">
                                <a href="" class="btn-small btn-round">Suitcase</a>
                            </div>
                            <div class="newest-tips-date-time pull-right">
                                <span><i class="icon icon-interface-1"></i>27</span>
                                <span><i class="icon icon-calendar"></i>31-9-2017</span>
                            </div>
                        </div>
                        <div class="divider"></div>
                        <p class="text-black">
                            Should you focus on H1s and H2s,
                            or should schema.org demand all your on-page ...
                        </p>
                        <div class="newest-author">
                            <div class="newest-author-img pull-left">
                                <img class="img-circle" src="~/assets/images/newest-author-03.jpg" alt="" />
                            </div>
                            <p class="text-black">by <span class="text-primary">Dennis Kentsons</span></p>
                        </div>
                    </div>
                </div><!-- End off col-md-4 -->
                <div class="col-md-4">
                    <div class="newest-blog-item border">
                        <h4 class="text-black">Which Page Markup + Tags Still Matter for SEO?</h4>
                        <div class="newest-tips-date m-top-20">
                            <div class="newest-tips-btn pull-left">
                                <a href="" class="btn-small btn-round">Suitcase</a>
                            </div>
                            <div class="newest-tips-date-time pull-right">
                                <span><i class="icon icon-interface-1"></i>27</span>
                                <span><i class="icon icon-calendar"></i>31-9-2017</span>
                            </div>
                        </div>
                        <div class="divider"></div>
                        <p class="text-black">
                            Should you focus on H1s and H2s,
                            or should schema.org demand all your on-page ...
                        </p>
                        <div class="newest-author">
                            <div class="newest-author-img pull-left">
                                <img class="img-circle" src="~/assets/images/newest-author-03.jpg" alt="" />
                            </div>
                            <p class="text-black">by <span class="text-primary">Dennis Kentsons</span></p>
                        </div>
                    </div>
                </div>
                <!-- End off col-md-4 -->
            </div>
        </div>
        <!-- End off row -->
    </div>
    <!-- End off container -->
</section>
<!-- End off Newest Blog post section-->



<!--Brand section-->
<section id="brand" class="bg-grey">
    <div class="container">
        <div class="row">
            <div class="main-brandv1">
                <div class="col-md-2">
                    <div class="brand-itemv1">
                        <a href="#."><img src="~/assets/images/brand-01.png" alt="" /></a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="brand-itemv1">
                        <a href="#."><img src="~/assets/images/brand-06.png" alt="" /></a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="brand-itemv1">
                        <a href="#."><img src="~/assets/images/brand-03.png" alt="" /></a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="brand-itemv1">
                        <a href="#."><img src="~/assets/images/brand-01.png" alt="" /></a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="brand-itemv1">
                        <a href="#."><img src="~/assets/images/brand-05.png" alt="" /></a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="brand-itemv1">
                        <a href="#."><img src="~/assets/images/brand-06.png" alt="" /></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End off row -->
    </div>
    <!-- End off container -->
</section>
<!-- End off brand section-->



<!--News Letter section-->
<section id="newsletterv1" class="newsletterv1 bg-primary sections4">
    <div class="container">
        <div class="row">
            <div class="main-newsletterv1">
                <div class="col-md-6">
                    <div class="newsletterv1-content">
                        <h2 class="text-white">Our Newsletter</h2>
                        <p class="m-top-30">Subscribe to our newsletter and be the first who receives our latest news:</p>
                        <form class="form-inline" id="newsletter-form" action="">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Your Email Address">
                            </div>
                            <button type="submit">Send invitation</button>
                        </form>
                    </div>
                </div>
                <!-- End off col-md-6-->
                <div class="col-md-5 col-md-offset-1 sm-m-top-50">
                    <div class="newsletterv1-feature">
                        <img src="~/assets/images/newsletterv1-img.png" alt="" />
                    </div>
                </div>
                <!-- End off col-md-6-->
            </div>
        </div>
        <!-- End off row -->
    </div>
    <!-- End off container -->
</section>
<!-- End off newsletter v1 section -->