@{
    ViewBag.Title = "使用案例";
}
<!--About Banner section-->
<div class="banner-area service-banner">
    <div class="container">
        <div class="row">
            <div class="main-banner text-center">
                <h2 class="text-white">使用案例</h2>
                <ol class="breadcrumb">
                    <li><a href="/">首页</a></li>
                    <li class="active"><a href="/Home/StudentCase">使用案例</a></li>
                </ol>
            </div>
        </div><!-- End off row -->
    </div><!-- End off container -->
</div><!-- End off banner section -->

<section id="allies" class="allies sections">
    <div class="container">
        <div class="row">
            <div class="main-allies">
                <div class="col-md-5">
                    <div class="allies-img">
                        <img src="~/assets/images/cyf.png" alt="" />
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="allies-content sm-m-top-50">
                        <h2 class="text-black">
                            使用情景1： 学新课
                        </h2>
                        <h5 class="text-black m-top-30">
                            背景情况
                        </h5>
                        <p class="m-top-10" style="font-size:15px;">
                            评估时间：去年暑假一个月，2016年7月31号~ 2016年9月2号<br />
                            学生信息：陈同学，4年级升5年级，江阴实验小学<br />
                            学习情况：勤奋但马虎、成绩中等偏上
                        </p>
                        <h5 class="text-black m-top-10">
                            使用过程
                        </h5>
                        <p class="m-top-10" style="font-size:15px;">
                            每天学习约1小时，具体时间不固定 <br />
                            90%时间学五年级新知识，10%时间复习四年级内容
                        </p>
                        <h5 class="text-black m-top-10">
                            使用效果
                        </h5>
                        <div class="separator2"><span></span><span></span><span></span></div>
                        <p class="m-top-10" style="font-size:15px;">
                            <i class="fa fa-check" style="color:#4bcc88;"></i> &nbsp;一个月时间新课学到期中考试（学校里正常要2个月）<br />
                            <i class="fa fa-check" style="color:#4bcc88;"></i> &nbsp;2016年9月3号经第三方测评，数学期中卷分数95<br />
                            <i class="fa fa-check" style="color:#4bcc88;"></i> &nbsp;11月份学校期中考试数学95，班级第五。
                        </p>
                        <a href="" class="btn btn-primary btn-round m-top-30">点击取经</a>
                    </div>
                </div>
            </div>
        </div>
    </div><!--End off container -->
</section>


<section id="leading" class="leading bg-primary sections2">
    <div class="container">
        <div class="row">
            <div class="main-leading">
                <div class="col-md-6">
                    <div class="leading-content">

                        <h2 class="text-white">
                            使用情景2：补习
                        </h2>
                        <h5 class="m-top-30" style="color: #094e57;">
                            背景情况
                        </h5>
                        <p class="m-top-10" style="font-size:15px;">
                            评估时间：今年暑假一个月，2017年8月3号~ 2017年9月1号 <br />
                            学生信息：孙同学，3年级升4年级，山东流井小学转学至无锡钱桥小学 <br />
                            学习情况：26个字母只会写前5个，所有单词都不认识、不会读学校考试三十分。
                        </p>
                        <h5 class="m-top-10 " style="color: #094e57;">
                            使用过程
                        </h5>
                        <p class="m-top-10" style="font-size:15px;">
                            每天学习约8小时,一般为上午3小时，下午2小时，晚上2小时<br />
                            先学完26个字母，然后按顺序从头开始学习苏教版英语课程<br />
                            通过软件学习之外，平均每天进行一场纸质测试，口语能力测试。
                        </p>
                        <h5 class="m-top-10 " style="color: #094e57;">
                            使用效果
                        </h5>
                        <div class="separator2 hv2"><span></span><span></span><span></span></div>
                        <p class="m-top-10" style="font-size:15px;">
                            <i class="fa fa-check" style="color:#4bcc88;"></i> &nbsp;1个月时间补习完学校1年的课程，学到4年级第二单元，累计18个单元<br />
                            <i class="fa fa-check" style="color:#4bcc88;"></i> &nbsp;每天纸质测试分数一般在85分左右，口语测试勉强及格<br />
                            <i class="fa fa-check" style="color:#4bcc88;"></i> &nbsp;2017年9月18号，学校英语第一单元考试91分。
                        </p>
                        <a href="" class="btn btn-default btn-round m-top-20">点击取经</a>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="leading-img sm-m-top-50">
                        <img src="~/assets/images/sister.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="allies" class="allies sections">
    <div class="container">
        <div class="row">
            <div class="main-allies">
                <div class="col-md-5">
                    <div class="allies-img">
                        <img src="~/assets/images/qianc.png" alt="" />
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="allies-content sm-m-top-50">
                        <h2 class="text-black">
                            使用情景3： 机构教学
                        </h2>
                        <h5 class="text-black m-top-30">
                            背景情况
                        </h5>
                        <p class="m-top-10" style="font-size:15px;">
                            评估时间：一年，2016年9月20号 ~ 2017年9月20号 <br />
                            机构信息：前程教育，江阴市利港镇
                        </p>
                        <h5 class="text-black m-top-10">
                            使用过程
                        </h5>
                        <p class="m-top-10" style="font-size:15px;">
                            从原本3台设备试用，逐步增添至目前约40台设备<br />
                            从原本辅助使用，到现在完全承担教学任务<br />
                            2017年7月，暑假期间小学多数年级由软件承担新课教学任务<br />
                            2017年8月，小学、初中所有年级完全由软件承担教学任务。
                        </p>
                        <h5 class="text-black m-top-10">
                            使用效果
                        </h5>
                        <div class="separator2"><span></span><span></span><span></span></div>
                        <p class="m-top-10" style="font-size:15px;">
                            <i class="fa fa-check" style="color:#4bcc88;"></i> &nbsp;小学3年级开设两个班，一个班聘请公立学校老师授课，另一个班为智能学习软件授课，测试成绩显示智能课堂班成绩更优秀且听力水平更好。
                        </p>
                        <a href="" class="btn btn-primary btn-round m-top-30">点击取经</a>
                    </div>
                </div>
            </div>
        </div>
    </div><!--End off container -->
</section>